In [1]:
import pandas as pd

Transportation Data and Examples

http://transitdatatoolkit.com/lessons/mapping-a-transit-system/

###  Turntile Data
Turntile data includes information regarding the entries and exits in each turntile at a MTA station around every 4 hours. Each turntile is distinguished by UNIT, SCP and STATION.  Each station is distinguished by the station name, line name, and division.

Major operations within the data include 1) get the per period entries and exits for each turntile (using groupby), 2) combine data within a station by the time (here the time will be checked by a larger time slice), 3) There are some reset record for entries and exits, how to handle these records (delete or incorporate?)

In [377]:
# save MTA turnstile data into a dataframe
# Source: http://web.mta.info/developers/turnstile.html
df_tt = pd.read_csv('turnstile_191102.txt')

df_tt.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2019,00:00:00,REGULAR,7247322,2455491
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2019,04:00:00,REGULAR,7247336,2455499
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2019,08:00:00,REGULAR,7247351,2455532
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2019,12:00:00,REGULAR,7247463,2455623
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2019,16:00:00,REGULAR,7247755,2455679

In [376]:
df_tt.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

Notice that the last column name has a very long whitespace string. We need to remove these whitespaces.

In [378]:
print(f'Check the name: ("{df_tt.columns[-1]}")')

Check the name: ("EXITS                                                               ")

In [379]:
# rename the column name
df_tt.rename(columns={df_tt.columns[-1]:df_tt.columns[-1].strip(' ')}, inplace=True)
print(f'The new columns are {df_tt.columns}')

The new columns are Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS'],
      dtype='object')

In [160]:
df_tt.DESC.unique()


# df_tt[df_tt.DESC=='RECOVR AUD']

array(['REGULAR', 'RECOVR AUD'], dtype=object)

In [180]:
df_tt.DIVISION.unique()

array(['BMT', 'IND', 'PTH', 'IRT', 'SRT', 'RIT'], dtype=object)

In [111]:
df_tt['ENTRIES_DIFF']=df_tt['ENTRIES'].diff()
df_tt['EXITS_DIFF']=df_tt['EXITS'].diff()

df_tt.head()

#### We can group

In [170]:
df_grouped = df_tt.groupby(['UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION'])

In [174]:
df_tt['ENTRIES_DIFF']=df_grouped[['ENTRIES']].diff()
df_tt['EXITS_DIFF']=df_grouped[['EXITS']].diff()

In [178]:
df_tt[df_tt['ENTRIES_DIFF'].isnull()]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,ENTRIES_DIFF,EXITS_DIFF
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2019,00:00:00,REGULAR,7247322,2455491,NaN,NaN
43,A002,R051,02-00-01,59 ST,NQR456W,BMT,10/26/2019,00:00:00,REGULAR,6444736,1447575,NaN,NaN
86,A002,R051,02-03-00,59 ST,NQR456W,BMT,10/26/2019,00:00:00,REGULAR,1304582,4917593,NaN,NaN
129,A002,R051,02-03-01,59 ST,NQR456W,BMT,10/26/2019,00:00:00,REGULAR,1298894,1980216,NaN,NaN
172,A002,R051,02-03-02,59 ST,NQR456W,BMT,10/26/2019,00:00:00,REGULAR,6385842,8541069,NaN,NaN
215,A002,R051,02-03-03,59 ST,NQR456W,BMT,10/26/2019,00:00:00,REGULAR,5914215,6737402,NaN,NaN
258,A002,R051,02-03-04,59 ST,NQR456W,BMT,10/26/2019,00:00:00,REGULAR,7309400,3764334,NaN,NaN
301,A002,R051,02-03-05,59 ST,NQR456W,BMT,10/26/2019,00:00:00,REGULAR,11700756,1419321,NaN,NaN
344,A002,R051,02-03-06,59 ST,NQR456W,BMT,10/26/2019,00:00:00,REGULAR,9157846,503364,NaN,NaN
387,A002,R051,02-05-00,59 ST,NQR456W,BMT,10/26/2019,00:00:00,REGULAR,176,0,NaN,NaN
430,A002,R051,02-05-01,59 ST,NQR456W,BMT,10/26/2019,00:00:00,REGULAR,0,839,NaN,NaN
473,A002,R051,02-06-00,59 ST,NQR456W,BMT,10/26/2019,00:00:00,REGULAR,86425,3956,NaN,NaN
516,A006,R079,00-00-00,5 AV/59 ST,NQRW,BMT,10/26/2019,02:00:00,REGULAR,4087601,7037931,NaN,NaN
563,A006,R079,00-00-01,5 AV/59 ST,NQRW,BMT,10/26/2019,02:00:00,REGULAR,5241173,3232624,NaN,NaN
610,A006,R079,00-00-02,5 AV/59 ST,NQRW,BMT,10/26/2019,02:00:00,REGULAR,6315395,16507869,NaN,NaN
657,A006,R079,00-00-03,5 AV/59 ST,NQRW,BMT,10/26/2019,02:00:00,REGULAR,3109098,1121059,NaN,NaN
704,A006,R079,00-00-04,5 AV/59 ST,NQRW,BMT,10/26/2019,02:00:00,REGULAR,7780352,3373557,NaN,NaN
751,A006,R079,00-03-00,5 AV/59 ST,NQRW,BMT,10/26/2019,02:00:00,REGULAR,9296666,4046263,NaN,NaN
798,A006,R079,00-03-01,5 AV/59 ST,NQRW,BMT,10/26/2019,02:00:00,REGULAR,412326,218924,NaN,NaN
845,A006,R079,00-03-02,5 AV/59 ST,NQRW,BMT,10/26/2019,02:00:00,REGULAR,706122,580674,NaN,NaN
892,A007,R079,01-05-00,5 AV/59 ST,NQRW,BMT,10/26/2019,02:00:00,REGULAR,3528,0,NaN,NaN
934,A007,R079,01-05-01,5 AV/59 ST,NQRW,BMT,10/26/2019,02:00:00,REGULAR,0,15,NaN,NaN
976,A007,R079,01-06-00,5 AV/59 ST,NQRW,BMT,10/26/2019,02:00:00,REGULAR,651700,320736,NaN,NaN
1018,A007,R079,01-06-01,5 AV/59 ST,NQRW,BMT,10/26/2019,02:00:00,REGULAR,119493744,2998985,NaN,NaN
1060,A007,R079,01-06-02,5 AV/59 ST,NQRW,BMT,10/26/2019,02:00:00,REGULAR,5004646,2023406,NaN,NaN
1102,A007,R079,01-06-03,5 AV/59 ST,NQRW,BMT,10/26/2019,02:00:00,REGULAR,7643804,2806260,NaN,NaN
1144,A010,R080,00-00-00,57 ST-7 AV,NQRW,BMT,10/26/2019,00:00:00,REGULAR,4669874,2453569,NaN,NaN
1185,A010,R080,00-00-01,57 ST-7 AV,NQRW,BMT,10/26/2019,00:00:00,REGULAR,15379477,5964326,NaN,NaN
1227,A010,R080,00-00-02,57 ST-7 AV,NQRW,BMT,10/26/2019,00:00:00,REGULAR,11224995,4479412,NaN,NaN
1268,A010,R080,00-00-03,57 ST-7 AV,NQRW,BMT,10/26/2019,00:00:00,REGULAR,3657703,1811796,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
204779,S101A,R070,01-00-00,ST. GEORGE,1,SRT,10/26/2019,00:00:00,REGULAR,2820602,23442,NaN,NaN
204821,S101A,R070,01-00-01,ST. GEORGE,1,SRT,10/26/2019,00:00:00,REGULAR,84231155,3370,NaN,NaN
204863,S101A,R070,01-00-02,ST. GEORGE,1,SRT,10/26/2019,00:00:00,REGULAR,3417010,20275,NaN,NaN
204905,S101A,R070,01-00-03,ST. GEORGE,1,SRT,10/26/2019,00:00:00,REGULAR,1129126967,1078346858,NaN,NaN
204947,S101A,R070,01-00-04,ST. GEORGE,1,SRT,10/26/2019,00:00:00,REGULAR,2486322,29145,NaN,NaN
204989,S101A,R070,01-00-05,ST. GEORGE,1,SRT,10/26/2019,00:00:00,REGULAR,283538,46,NaN,NaN
205031,S101A,R070,01-00-06,ST. GEORGE,1,SRT,10/26/2019,00:00:00,REGULAR,2027571,443,NaN,NaN
205073,S101A,R070,01-03-00,ST. GEORGE,1,SRT,10/26/2019,00:00:00,REGULAR,2499858,305,NaN,NaN
205115,S101A,R070,01-03-01,ST. GEORGE,1,SRT,10/26/2019,00:00:00,REGULAR,2132879,247,NaN,NaN
205157,S101A,R070,01-03-02,ST. GEORGE,1,SRT,10/26/2019,00:00:00,REGULAR,564234,49,NaN,NaN
205199,S101A,R070,01-03-03,ST. GEORGE,1,SRT,10/26/2019,00:00:00,REGULAR,201269,46,NaN,NaN
205241,S101A,R070,01-05-00,ST. GEORGE,1,SRT,10/26/2019,00:00:00,REGULAR,1079,0,NaN,NaN
205283,S101A,R070,01-05-01,ST. GEORGE,1,SRT,10/26/2019,00:00:00,REGULAR,705,0,NaN,NaN
205325,S102,R165,00-00-00,TOMPKINSVILLE,1,SRT,10/26/2019,02:00:00,REGULAR,609136,12,NaN,NaN
205368,S102,R165,00-00-01,TOMPKINSVILLE,1,SRT,10/26/2019,02:00:00,REGULAR,632958,4301,NaN,NaN
205411,S102,R165,00-03-00,TOMPKINSVILLE,1,SRT,10/26/2019,02:00:00,REGULAR,602757,20,NaN,NaN
205454,S102,R165,00-03-01,TOMPKINSVILLE,1,SRT,10/26/2019,02:00:00,REGULAR,33118,1,NaN,NaN
205497,S102,R165,00-03-02,TOMPKINSVILLE,1,SRT,10/26/2019,02:00:00,REGULAR,274145,3,NaN,NaN
205540,S102,R165,00-05-00,TOMPKINSVILLE,1,SRT,10/26/2019,02:00:00,REGULAR,262463,65536,NaN,NaN
205583,S102,R165,00-05-01,TOMPKINSVILLE,1,SRT,10/26/2019,02:00:00,REGULAR,484,0,NaN,NaN
205626,TRAM1,R468,00-00-00,RIT-MANHATTAN,R,RIT,10/26/2019,01:00:00,REGULAR,616613,11512,NaN,NaN
205668,TRAM1,R468,00-00-01,RIT-MANHATTAN,R,RIT,10/26/2019,01:00:00,REGULAR,62188,691,NaN,NaN
205710,TRAM1,R468,00-00-02,RIT-MANHATTAN,R,RIT,10/26/2019,01:00:00,REGULAR,203301,3312,NaN,NaN
205752,TRAM1,R468,00-05-00,RIT-MANHATTAN,R,RIT,10/26/2019,01:00:00,REGULAR,331,0,NaN,NaN
205794,TRAM2,R469,00-00-00,RIT-ROOSEVELT,R,RIT,10/26/2019,01:00:00,REGULAR,408511,7554,NaN,NaN
205836,TRAM2,R469,00-00-01,RIT-ROOSEVELT,R,RIT,10/26/2019,01:00:00,REGULAR,3288036,39666,NaN,NaN
205878,TRAM2,R469,00-03-00,RIT-ROOSEVELT,R,RIT,10/26/2019,01:00:00,REGULAR,715742,28073,NaN,NaN
205920,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,10/26/2019,01:00:00,REGULAR,3097761,394270,NaN,NaN
205962,TRAM2,R469,00-05-00,RIT-ROOSEVELT,R,RIT,10/26/2019,01:00:00,REGULAR,3011,62,NaN,NaN
206004,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,10/26/2019,01:00:00,REGULAR,5554,420,NaN,NaN

In [32]:
# Check if the selected dataframe has no rows

df[df.STATION=='Broadway'].empty

True

### Station Data

Station data includes information of each station in MTA. It mainly provides the geolocation information, i.e., latitude and longitude of each station. The record is mainly distinguished by the station name, line name, division.

Major operations within this data include 1) select stations in Manhattan, 2)  



https://en.wikipedia.org/wiki/New_York_City_Subway_nomenclature

In [6]:
#df_geo = pd.read_csv('DOITT_SUBWAY_STATION_01_13SEPT2010.csv')
#df_geo.loc[0]['LINE'].split('-')

# df_station_entrances = pd.read_csv('NYC_Transit_Subway_Entrance_And_Exit_Data.csv')

In [381]:
df_stations = pd.read_csv('Stations.csv')

# http://web.mta.info/developers/data/nyct/subway/Stations.csv 
# in GTFS format

df_stations.head()

,Station ID,Complex ID,GTFS Stop ID,Division,Line,Stop Name,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude,North Direction Label,South Direction Label
0,1,1,R01,BMT,Astoria,Astoria - Ditmars Blvd,Q,N W,Elevated,40.775036,-73.912034,NaN,Manhattan
1,2,2,R03,BMT,Astoria,Astoria Blvd,Q,N W,Elevated,40.770258,-73.917843,Ditmars Blvd,Manhattan
2,3,3,R04,BMT,Astoria,30 Av,Q,N W,Elevated,40.766779,-73.921479,Astoria - Ditmars Blvd,Manhattan
3,4,4,R05,BMT,Astoria,Broadway,Q,N W,Elevated,40.761820,-73.925508,Astoria - Ditmars Blvd,Manhattan
4,5,5,R06,BMT,Astoria,36 Av,Q,N W,Elevated,40.756804,-73.929575,Astoria - Ditmars Blvd,Manhattan

In [33]:
df_stations.Borough.unique().tolist()

['Q', 'M', 'Bk', 'Bx', 'SI']

In [204]:
df_stations['Borough'].value_counts()

Bk    169
M     153
Q      83
Bx     70
SI     21
Name: Borough, dtype: int64

In [39]:
df_stations[df_stations.Borough=='M']

,Station ID,Complex ID,GTFS Stop ID,Division,Line,Stop Name,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude,North Direction Label,South Direction Label
6,7,613,R11,BMT,Astoria,Lexington Av/59 St,M,N W R,Subway,40.762660,-73.967258,Queens,Downtown & Brooklyn
7,8,8,R13,BMT,Astoria,5 Av/59 St,M,N W R,Subway,40.764811,-73.973347,Queens,Downtown & Brooklyn
8,9,9,R14,BMT,Broadway - Brighton,57 St - 7 Av,M,N Q R W,Subway,40.764664,-73.980658,Uptown & Queens,Downtown & Brooklyn
9,10,10,R15,BMT,Broadway - Brighton,49 St,M,N R W,Subway,40.759901,-73.984139,Uptown & Queens,Downtown & Brooklyn
10,11,611,R16,BMT,Broadway - Brighton,Times Sq - 42 St,M,N Q R W,Subway,40.754672,-73.986754,Uptown & Queens,Downtown & Brooklyn
11,12,607,R17,BMT,Broadway - Brighton,34 St - Herald Sq,M,N Q R W,Subway,40.749567,-73.987950,Uptown & Queens,Downtown & Brooklyn
12,13,13,R18,BMT,Broadway - Brighton,28 St,M,R W,Subway,40.745494,-73.988691,Uptown & Queens,Downtown & Brooklyn
13,14,14,R19,BMT,Broadway - Brighton,23 St,M,R W,Subway,40.741303,-73.989344,Uptown & Queens,Downtown & Brooklyn
14,15,602,R20,BMT,Broadway - Brighton,14 St - Union Sq,M,N Q R W,Subway,40.735736,-73.990568,Uptown & Queens,Downtown & Brooklyn
15,16,16,R21,BMT,Broadway - Brighton,8 St - NYU,M,R W,Subway,40.730328,-73.992629,Uptown & Queens,Downtown & Brooklyn
16,17,17,R22,BMT,Broadway - Brighton,Prince St,M,R W,Subway,40.724329,-73.997702,Uptown & Queens,Downtown & Brooklyn
17,18,623,R23,BMT,Broadway,Canal St,M,R W,Subway,40.719527,-74.001775,Uptown & Queens,Downtown & Brooklyn
18,19,623,Q01,BMT,Manhattan Bridge,Canal St,M,N Q,Subway,40.718383,-74.000460,Uptown & Queens,Downtown & Brooklyn
19,20,20,R24,BMT,Broadway,City Hall,M,R W,Subway,40.713282,-74.006978,Uptown & Queens,Downtown & Brooklyn
20,21,624,R25,BMT,Broadway,Cortlandt St,M,R W,Subway,40.710668,-74.011029,Uptown & Queens,Downtown & Brooklyn
21,22,22,R26,BMT,Broadway,Rector St,M,R W,Subway,40.707220,-74.013342,Uptown & Queens,Downtown & Brooklyn
22,23,635,R27,BMT,Broadway,Whitehall St,M,R W,Subway,40.703087,-74.012994,Uptown & Queens,Brooklyn
101,102,625,M18,BMT,Jamaica,Essex St,M,J M Z,Subway,40.718315,-73.987437,Brooklyn,Broad St (JZ) - Uptown (M)
102,103,103,M19,BMT,Jamaica,Bowery,M,J Z,Subway,40.720280,-73.993915,Brooklyn,Broad St
103,104,623,M20,BMT,Jamaica,Canal St,M,J Z,Subway,40.718092,-73.999892,Brooklyn,Broad St
104,105,622,M21,BMT,Jamaica,Chambers St,M,J Z,Subway,40.713243,-74.003401,Brooklyn,Broad St
105,106,628,M22,BMT,Jamaica,Fulton St,M,J Z,Subway,40.710374,-74.007582,Brooklyn,Broad St
106,107,107,M23,BMT,Jamaica,Broad St,M,J Z,Subway,40.706476,-74.011056,Brooklyn,NaN
114,115,618,L01,BMT,Canarsie,8 Av,M,L,Subway,40.739777,-74.002578,NaN,Brooklyn
115,116,601,L02,BMT,Canarsie,6 Av,M,L,Subway,40.737335,-73.996786,8 Av,Brooklyn
116,117,602,L03,BMT,Canarsie,Union Sq - 14 St,M,L,Subway,40.734789,-73.990730,8 Av,Brooklyn
117,118,118,L05,BMT,Canarsie,3 Av,M,L,Subway,40.732849,-73.986122,8 Av,Brooklyn
118,119,119,L06,BMT,Canarsie,1 Av,M,L,Subway,40.730953,-73.981628,8 Av,Brooklyn
141,143,143,A02,IND,8th Av - Fulton St,Inwood - 207 St,M,A,Subway,40.868072,-73.919899,NaN,Downtown & Brooklyn
142,144,144,A03,IND,8th Av - Fulton St,Dyckman St,M,A,Subway,40.865491,-73.927271,207 St,Downtown & Brooklyn
...,...,...,...,...,...,...,...,...,...,...,...,...,...
400,400,613,629,IRT,Lexington Av,59 St,M,4 5 6,Subway,40.762526,-73.967967,Uptown & The Bronx,Downtown & Brooklyn
401,401,612,630,IRT,Lexington Av,51 St,M,6,Subway,40.757107,-73.971920,Uptown & The Bronx,Downtown
402,402,610,631,IRT,Lexington Av,Grand Central - 42 St,M,4 5 6,Subway,40.751776,-73.976848,Uptown & The Bronx,Downtown & Brooklyn
403,403,403,632,IRT,Lexington Av,33 St,M,6,Subway,40.746081,-73.982076,Uptown & The Bronx,Downtown
404,404,404,633,IRT,Lexington Av,28 St,M,6,Subway,40.743070,-73.984264,Uptown & The Bronx,Downtown
405,405,405,634,IRT,Lexington Av,23 St,M,6,Subway,40.739864,-73.986599,Uptown & The Bronx,Downtown
406,406,602,635,IRT,Lexington Av,14 St - Union Sq,M,4 5 6,Subway,40.734673,-73.989951,Uptown & The Bronx,Downtown & Brooklyn
407,407,407,636,IRT,Lexington Av,Astor Pl,M,6,Subway,40.730054,-73.991070,Uptown & The Bronx,Downtown
408,408,619,637,IRT,Lexington Av,Bleecker St,M,6,Subway,40.725915,-73.994659,Uptown & The Bronx,Downtown
409,409,409,638,IRT,Lexington Av,Spring St,M,6,Subway,40.722301,-73.997141,Uptown & The Bronx,Downtown
410,410,623,639,IRT,Lexington Av,Canal St,M,6,Subway,40.718803,-74.000193,Uptown & The Bronx,Downtown
411,411,622,640,IRT,Lexington Av,Brooklyn Bridge - City Hall,M,4 5 6,Subway,40.713065,-74.004131,Uptown & The Bronx,Downtown & Brooklyn
412,412,628,418,IRT,Lexington Av,Fulton St,M,4 5,Subway,40.710368,-74.009509,Uptown & The Bronx,Downtown & Brooklyn
413,413,413,419,IRT,Lexington Av,Wall St,M,4 5,Subway,40.707557,-74.011862,Uptown & The Bronx,Downtown & Brooklyn
414,414,414,420,IRT,Lexington Av,Bowling Green,M,4 5,Subway,40.704817,-74.014065,Uptown & The Bronx,Brooklyn
436,436,436,301,IRT,Lenox - White Plains Rd,Harlem - 148 St,M,3,Subway,40.823880,-73.936470,NaN,Downtown & Brooklyn
437,437,437,302,IRT,Lenox - White Plains Rd,145 St,M,3,Subway,40.820421,-73.936245,148 St,Downtown & Brooklyn
438,438,438,224,IRT,Lenox - White Plains Rd,135 St,M,2 3,Subway,40.814229,-73.940770,Uptown & The Bronx,Downtown & Brooklyn
439,439,439,225,IRT,Lenox - White Plains Rd,125 St,M,2 3,Subway,40.807754,-73.945495,Uptown & The Bronx,Downtown & Brooklyn
440,440,440,226,IRT,Lenox - White Plains Rd,116 St,M,2 3,Subway,40.802098,-73.949625,Uptown & The Bronx,Downtown & Brooklyn
441,441,441,227,IRT,Lenox - White Plains Rd,Central Park North (110 St),M,2 3,Subway,40.799075,-73.951822,Uptown & The Bronx,Downtown & Brooklyn
466,465,610,723,IRT,Flushing,Grand Central - 42 St,M,7,Subway,40.751431,-73.976041,Queens,34 St - Hudson Yards
467,466,609,724,IRT,Flushing,5 Av,M,7,Subway,40.753821,-73.981963,Queens,34 St - Hudson Yards
468,467,611,725,IRT,Flushing,Times Sq - 42 St,M,7,Subway,40.755477,-73.987691,Queens,34 St - Hudson Yards
469,468,611,902,IRT,Lexington - Shuttle,Times Sq - 42 St,M,S,Subway,40.755983,-73.986229,NaN,Grand Central
470,469,610,901,IRT,Lexington - Shuttle,Grand Central - 42 St,M,S,Subway,40.752769,-73.979189,Times Sq,NaN
471,471,471,726,IRT,Flushing,34 St - 11 Av,M,7,Subway,40.755882,-74.001910,Queens,NaN
472,475,475,Q05,IND,Second Av,96 St,M,Q,Subway,40.784318,-73.947152,NaN,Downtown & Brooklyn
473,476,476,Q04,IND,Second Av,86 St,M,Q,Subway,40.777891,-73.951787,Uptown,Downtown & Brooklyn
474,477,477,Q03,IND,Second Av,72 St,M,Q,Subway,40.768799,-73.958424,Uptown,Downtown & Brooklyn

In [57]:
df_stations[df_stations.Borough=='M']['Stop Name'].nunique()

99

In [179]:
df_stations[df_stations.Borough=='M']['Division'].unique()

array(['BMT', 'IND', 'IRT'], dtype=object)

In [126]:
df_stations[df_stations.Borough=='M']['Stop Name'].unique()

array(['Lexington Av/59 St', '5 Av/59 St', '57 St - 7 Av', '49 St',
       'Times Sq - 42 St', '34 St - Herald Sq', '28 St', '23 St',
       '14 St - Union Sq', '8 St - NYU', 'Prince St', 'Canal St',
       'City Hall', 'Cortlandt St', 'Rector St', 'Whitehall St',
       'Essex St', 'Bowery', 'Chambers St', 'Fulton St', 'Broad St',
       '8 Av', '6 Av', 'Union Sq - 14 St', '3 Av', '1 Av',
       'Inwood - 207 St', 'Dyckman St', '190 St', '181 St', '175 St',
       '168 St', '163 St - Amsterdam Av', '155 St', '145 St', '135 St',
       '125 St', '116 St', 'Cathedral Pkwy (110 St)', '103 St', '96 St',
       '86 St', '81 St - Museum of Natural History', '72 St',
       '59 St - Columbus Circle', '50 St',
       '42 St - Port Authority Bus Terminal', '34 St - Penn Station',
       '14 St', 'W 4 St', 'Spring St', 'World Trade Center',
       'Roosevelt Island', 'Lexington Av/63 St', '57 St',
       '47-50 Sts - Rockefeller Ctr', '42 St - Bryant Pk',
       'Broadway-Lafayette St', 'Grand St', '2 Av', 'Delancey St',
       'East Broadway', 'Lexington Av/53 St', '5 Av/53 St', '7 Av',
       'Marble Hill - 225 St', '215 St', '207 St', '191 St',
       '168 St - Washington Hts', '157 St', '137 St - City College',
       '116 St - Columbia University', 'Cathedral Pkwy', '79 St',
       '66 St - Lincoln Center', '18 St', 'Christopher St - Sheridan Sq',
       'Houston St', 'Franklin St', 'WTC Cortlandt', 'South Ferry',
       'Park Pl', 'Wall St', '110 St', '77 St', '68 St - Hunter College',
       '59 St', '51 St', 'Grand Central - 42 St', '33 St', 'Astor Pl',
       'Bleecker St', 'Brooklyn Bridge - City Hall', 'Bowling Green',
       'Harlem - 148 St', 'Central Park North (110 St)', '5 Av',
       '34 St - 11 Av'], dtype=object)

In [119]:
df_stations[df_stations.Borough=='M']['Stop Name'].value_counts()

Canal St                        6
23 St                           5
Times Sq - 42 St                4
125 St                          4
Fulton St                       4
86 St                           4
96 St                           4
145 St                          4
Grand Central - 42 St           3
72 St                           3
28 St                           3
Chambers St                     3
14 St                           3
116 St                          3
103 St                          3
Rector St                       2
59 St - Columbus Circle         2
14 St - Union Sq                2
Wall St                         2
155 St                          2
Dyckman St                      2
34 St - Penn Station            2
135 St                          2
W 4 St                          2
34 St - Herald Sq               2
Spring St                       2
181 St                          2
50 St                           2
Broadway-Lafayette St           1
Cathedral Pkwy                  1
                               ..
Lexington Av/59 St              1
168 St                          1
Franklin St                     1
1 Av                            1
137 St - City College           1
57 St                           1
Roosevelt Island                1
5 Av/59 St                      1
Essex St                        1
175 St                          1
World Trade Center              1
WTC Cortlandt                   1
Marble Hill - 225 St            1
Houston St                      1
Central Park North (110 St)     1
34 St - 11 Av                   1
Bleecker St                     1
57 St - 7 Av                    1
City Hall                       1
18 St                           1
Inwood - 207 St                 1
47-50 Sts - Rockefeller Ctr     1
8 St - NYU                      1
Lexington Av/53 St              1
Astor Pl                        1
77 St                           1
116 St - Columbia University    1
2 Av                            1
49 St                           1
Brooklyn Bridge - City Hall     1
Name: Stop Name, Length: 99, dtype: int64

In [139]:
# The stations in different Routes may have the same name. Their coordinates may differ from each other but in a vicinity. Since the turntile data 
# use the stop name for all routes, we will later select one typical 
df_stations[df_stations['Stop Name']=='Canal St']

,Station ID,Complex ID,GTFS Stop ID,Division,Line,Stop Name,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude,North Direction Label,South Direction Label
17,18,623,R23,BMT,Broadway,Canal St,M,R W,Subway,40.719527,-74.001775,Uptown & Queens,Downtown & Brooklyn
18,19,623,Q01,BMT,Manhattan Bridge,Canal St,M,N Q,Subway,40.718383,-74.000460,Uptown & Queens,Downtown & Brooklyn
103,104,623,M20,BMT,Jamaica,Canal St,M,J Z,Subway,40.718092,-73.999892,Brooklyn,Broad St
169,169,169,A34,IND,8th Av - Fulton St,Canal St,M,A C E,Subway,40.720824,-74.005229,Uptown - Queens,Downtown & Brooklyn
325,325,325,135,IRT,Broadway - 7Av,Canal St,M,1,Subway,40.722854,-74.006277,Uptown & The Bronx,Downtown
410,410,623,639,IRT,Lexington Av,Canal St,M,6,Subway,40.718803,-74.000193,Uptown & The Bronx,Downtown

In [58]:
stationNYC = df_stations[df_stations.Borough=='M']['Stop Name'].unique().tolist()
lstStationNYC = list(map(lambda x : x.upper(), stationNYC))
len(lstStationNYC)

In [64]:
lstDataSta = df.STATION.unique().tolist()

In [197]:
# distance calculation between two points using their latitude and longitude information
# Use geopy module
# https://stackoverflow.com/questions/19412462/getting-distance-between-two-points-based-on-latitude-longitude

import geopy.distance

coords_1 = (40.576209, -73.967875)
coords_2 = (40.576507, -73.969445)

d = geopy.distance.distance(coords_1, coords_2).m
print(d)

136.99125557229425

In [202]:
df_stations['Stop Name'].nunique()

377

In [203]:
df_stations.columns

Index(['Station ID', 'Complex ID', 'GTFS Stop ID', 'Division', 'Line',
       'Stop Name', 'Borough', 'Daytime Routes', 'Structure', 'GTFS Latitude',
       'GTFS Longitude', 'North Direction Label', 'South Direction Label'],
      dtype='object')

In [206]:
df_stations[df_stations['Borough']=='M']['Stop Name'].unique()

array(['Lexington Av/59 St', '5 Av/59 St', '57 St - 7 Av', '49 St',
       'Times Sq - 42 St', '34 St - Herald Sq', '28 St', '23 St',
       '14 St - Union Sq', '8 St - NYU', 'Prince St', 'Canal St',
       'City Hall', 'Cortlandt St', 'Rector St', 'Whitehall St',
       'Essex St', 'Bowery', 'Chambers St', 'Fulton St', 'Broad St',
       '8 Av', '6 Av', 'Union Sq - 14 St', '3 Av', '1 Av',
       'Inwood - 207 St', 'Dyckman St', '190 St', '181 St', '175 St',
       '168 St', '163 St - Amsterdam Av', '155 St', '145 St', '135 St',
       '125 St', '116 St', 'Cathedral Pkwy (110 St)', '103 St', '96 St',
       '86 St', '81 St - Museum of Natural History', '72 St',
       '59 St - Columbus Circle', '50 St',
       '42 St - Port Authority Bus Terminal', '34 St - Penn Station',
       '14 St', 'W 4 St', 'Spring St', 'World Trade Center',
       'Roosevelt Island', 'Lexington Av/63 St', '57 St',
       '47-50 Sts - Rockefeller Ctr', '42 St - Bryant Pk',
       'Broadway-Lafayette St', 'Grand St', '2 Av', 'Delancey St',
       'East Broadway', 'Lexington Av/53 St', '5 Av/53 St', '7 Av',
       'Marble Hill - 225 St', '215 St', '207 St', '191 St',
       '168 St - Washington Hts', '157 St', '137 St - City College',
       '116 St - Columbia University', 'Cathedral Pkwy', '79 St',
       '66 St - Lincoln Center', '18 St', 'Christopher St - Sheridan Sq',
       'Houston St', 'Franklin St', 'WTC Cortlandt', 'South Ferry',
       'Park Pl', 'Wall St', '110 St', '77 St', '68 St - Hunter College',
       '59 St', '51 St', 'Grand Central - 42 St', '33 St', 'Astor Pl',
       'Bleecker St', 'Brooklyn Bridge - City Hall', 'Bowling Green',
       'Harlem - 148 St', 'Central Park North (110 St)', '5 Av',
       '34 St - 11 Av'], dtype=object)

In [221]:
df_stations[df_stations['Borough']=='M']['Stop Name'].value_counts()

Canal St                        6
23 St                           5
Times Sq - 42 St                4
125 St                          4
Fulton St                       4
86 St                           4
96 St                           4
145 St                          4
Grand Central - 42 St           3
72 St                           3
28 St                           3
Chambers St                     3
14 St                           3
116 St                          3
103 St                          3
Rector St                       2
59 St - Columbus Circle         2
14 St - Union Sq                2
Wall St                         2
155 St                          2
Dyckman St                      2
34 St - Penn Station            2
135 St                          2
W 4 St                          2
34 St - Herald Sq               2
Spring St                       2
181 St                          2
50 St                           2
Broadway-Lafayette St           1
Cathedral Pkwy                  1
                               ..
Lexington Av/59 St              1
168 St                          1
Franklin St                     1
1 Av                            1
137 St - City College           1
57 St                           1
Roosevelt Island                1
5 Av/59 St                      1
Essex St                        1
175 St                          1
World Trade Center              1
WTC Cortlandt                   1
Marble Hill - 225 St            1
Houston St                      1
Central Park North (110 St)     1
34 St - 11 Av                   1
Bleecker St                     1
57 St - 7 Av                    1
City Hall                       1
18 St                           1
Inwood - 207 St                 1
47-50 Sts - Rockefeller Ctr     1
8 St - NYU                      1
Lexington Av/53 St              1
Astor Pl                        1
77 St                           1
116 St - Columbia University    1
2 Av                            1
49 St                           1
Brooklyn Bridge - City Hall     1
Name: Stop Name, Length: 99, dtype: int64

In [384]:
df_stations[df_stations['Borough']=='M'][['Stop Name', 'Line', 'GTFS Latitude', 'GTFS Longitude']].head()

             Stop Name                 Line  GTFS Latitude  GTFS Longitude
6   Lexington Av/59 St              Astoria      40.762660      -73.967258
7           5 Av/59 St              Astoria      40.764811      -73.973347
8         57 St - 7 Av  Broadway - Brighton      40.764664      -73.980658
9                49 St  Broadway - Brighton      40.759901      -73.984139
10    Times Sq - 42 St  Broadway - Brighton      40.754672      -73.986754

In [214]:
df_stations[df_stations['Borough']=='M']['Division'].unique()

array(['BMT', 'IND', 'IRT'], dtype=object)





### Station Mapping
The key of bridging these two datasets is the mapping between stations. 

One station may have multiple geolocations that serve different lines. Since we don't obtain the turntiles location information, we will take them as a whole. 

Due to the spelling rules in different datasets, we need the manual check and correction. The mapping information will be saved in a separate csv file for later use.

In [388]:
df_grouped = df_tt.groupby(['UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION'])
df_tt_grouped = df_tt.groupby(['STATION', 'LINENAME', 'DIVISION'])[['STATION', 'LINENAME', 'DIVISION']]

In [301]:
df_tt.DIVISION.unique()

df_tt[df_tt.DIVISION.isin(['BMT', 'IND', 'IRT'])].STATION.nunique()

df_tt['ID'] = df_tt[['STATION', 'LINENAME', 'DIVISION']].apply(lambda x: ','.join(x.dropna().astype(str)), axis=1)


tt_list = df_tt['ID'].unique().tolist()
tt_list = list(map(lambda x: x.split(','), tt_list))

df_tt_list = pd.DataFrame(tt_list, columns=['Station', 'Routes', 'Division'])
df_tt_list.head()

def hyphen_adjust(x):
    if '-' in x:
        tmp = x.split('-')
        return ' - '.join(tmp)
    else:
        return x

df_tt_list['Station'] = df_tt_list['Station'].apply(hyphen_adjust)

df_tt_list['Routes'] = df_tt_list['Routes'].apply(lambda x: set(x))

df_tt_list.head()

df_tt_list.shape

In [256]:
indexNames = df_stations[ df_stations['Borough'] != 'M' ].index
 
# Delete these row indexes from dataFrame
df_stations.drop(indexNames , inplace=True)

df_stations['ID'] = df_stations[['Stop Name', 'Daytime Routes', 'Division']].apply(lambda x: ','.join(x.dropna().astype(str)), axis=1)

In [312]:
sta_list = df_stations['ID'].unique().tolist()

sta_list = list(map(lambda x: x.upper(), sta_list))

sta_list = list(map(lambda x: x.split(','), sta_list))

df_station_list = pd.DataFrame(sta_list, columns=['Station', 'Routes', 'Division'])

df_station_list['Routes'] = df_station_list['Routes'].apply(lambda x: set(x.split(' ')))

df_station_list.head()

df_station_list.shape

In [325]:
list(df_tt_list.loc[0])

['59 ST', {'4', '5', '6', 'N', 'Q', 'R', 'W'}, 'BMT']

In [340]:
df_tt_list['geo_sta']=df_tt_list['Station'].apply(lambda x: [])

In [343]:
df_station_list['Matched']=df_station_list['Station'].apply(lambda x: False)

In [335]:
def station_match(tt, station):
    matched = False
    #print(f'tt: {tt}, station: {station}')
    if tt[2] == station[2]:
        #print('pos1')
        if tt[0] == station[0]:
            #print(f'Station: {station} matches with TT: {tt}')
            if station[1].issubset(tt[1]):
                matched = True
                print(f'Station: {station} matches with TT: {tt} in lines {station[1]}')
    return matched

In [356]:
def station_match(tt, station):
    matched = False
    #print(f'tt: {tt}, station: {station}')
    if tt[0] == station[0]:
        #print(f'Station: {station} matches with TT: {tt}')
        if station[1].issubset(tt[1]):
            matched = True
            print(f'Station: {station} matches with TT: {tt} in lines {station[1]}')
    return matched

In [357]:
for i in range(df_station_list.shape[0]):
    for j in range(df_tt_list.shape[0]):
        if station_match(list(df_tt_list.loc[j]), list(df_station_list.loc[i])):
            df_tt_list.loc[j]['geo_sta'].append(i)
            df_station_list.at[i, 'Matched'] = True

Station: ['5 AV/59 ST', {'R', 'N', 'W'}, 'BMT', True] matches with TT: ['5 AV/59 ST', {'R', 'Q', 'N', 'W'}, 'BMT', [1, 1, 1]] in lines {'R', 'N', 'W'}
Station: ['57 ST - 7 AV', {'R', 'Q', 'N', 'W'}, 'BMT', True] matches with TT: ['57 ST - 7 AV', {'R', 'Q', 'N', 'W'}, 'BMT', [2, 2]] in lines {'R', 'Q', 'N', 'W'}
Station: ['49 ST', {'R', 'N', 'W'}, 'BMT', True] matches with TT: ['49 ST', {'R', 'Q', 'N', 'W'}, 'BMT', [3, 3]] in lines {'R', 'N', 'W'}
Station: ['TIMES SQ - 42 ST', {'R', 'Q', 'N', 'W'}, 'BMT', True] matches with TT: ['TIMES SQ - 42 ST', {'1', 'W', 'S', '3', '2', 'C', 'R', '7', 'A', 'E', 'N', 'Q'}, 'BMT', [4, 4]] in lines {'R', 'Q', 'N', 'W'}
Station: ['TIMES SQ - 42 ST', {'R', 'Q', 'N', 'W'}, 'BMT', True] matches with TT: ['TIMES SQ - 42 ST', {'1', 'W', 'S', '3', '2', '7', 'C', 'R', 'A', 'E', 'N', 'Q'}, 'IRT', [98, 146, 147, 98, 146, 147]] in lines {'R', 'Q', 'N', 'W'}
Station: ['34 ST - HERALD SQ', {'R', 'Q', 'N', 'W'}, 'BMT', True] matches with TT: ['34 ST - HERALD SQ', {'M', 'W', 'F', 'B', 'D', 'R', 'Q', 'N'}, 'BMT', [5, 5]] in lines {'R', 'Q', 'N', 'W'}
Station: ['34 ST - HERALD SQ', {'R', 'Q', 'N', 'W'}, 'BMT', True] matches with TT: ['34 ST - HERALD SQ', {'M', 'W', 'F', 'B', 'D', 'R', 'Q', 'N'}, 'IND', [66, 66]] in lines {'R', 'Q', 'N', 'W'}
Station: ['28 ST', {'R', 'W'}, 'BMT', True] matches with TT: ['28 ST', {'R', 'N', 'W'}, 'BMT', [6, 6]] in lines {'R', 'W'}
Station: ['23 ST', {'R', 'W'}, 'BMT', True] matches with TT: ['23 ST', {'R', 'N', 'W'}, 'BMT', [7, 7]] in lines {'R', 'W'}
Station: ['14 ST - UNION SQ', {'R', 'Q', 'N', 'W'}, 'BMT', True] matches with TT: ['14 ST - UNION SQ', {'4', '6', 'W', '5', 'R', 'Q', 'N', 'L'}, 'BMT', [8, 8]] in lines {'R', 'Q', 'N', 'W'}
Station: ['14 ST - UNION SQ', {'R', 'Q', 'N', 'W'}, 'BMT', True] matches with TT: ['14 ST - UNION SQ', {'4', '6', 'W', '5', 'R', 'Q', 'N', 'L'}, 'IRT', [129, 129]] in lines {'R', 'Q', 'N', 'W'}
Station: ['8 ST - NYU', {'R', 'W'}, 'BMT', True] matches with TT: ['8 ST - NYU', {'R', 'N', 'W'}, 'BMT', [9, 9]] in lines {'R', 'W'}
Station: ['PRINCE ST', {'R', 'W'}, 'BMT', True] matches with TT: ['PRINCE ST', {'R', 'N', 'W'}, 'BMT', [10, 10]] in lines {'R', 'W'}
Station: ['CANAL ST', {'R', 'W'}, 'BMT', True] matches with TT: ['CANAL ST', {'6', 'W', 'Z', 'J', 'R', 'Q', 'N'}, 'BMT', [11, 12, 19, 11, 12, 19]] in lines {'R', 'W'}
Station: ['CANAL ST', {'Q', 'N'}, 'BMT', True] matches with TT: ['CANAL ST', {'6', 'W', 'Z', 'J', 'R', 'Q', 'N'}, 'BMT', [11, 12, 19, 11, 12, 19, 11]] in lines {'Q', 'N'}
Station: ['CITY HALL', {'R', 'W'}, 'BMT', True] matches with TT: ['CITY HALL', {'R', 'N', 'W'}, 'BMT', [13, 13]] in lines {'R', 'W'}
Station: ['CORTLANDT ST', {'R', 'W'}, 'BMT', True] matches with TT: ['CORTLANDT ST', {'R', 'N', 'W'}, 'BMT', [14, 14]] in lines {'R', 'W'}
Station: ['RECTOR ST', {'R', 'W'}, 'BMT', True] matches with TT: ['RECTOR ST', {'R', 'N', 'W'}, 'BMT', [15, 15]] in lines {'R', 'W'}
Station: ['BOWERY', {'Z', 'J'}, 'BMT', True] matches with TT: ['BOWERY', {'Z', 'J'}, 'BMT', [18, 18]] in lines {'Z', 'J'}
Station: ['CANAL ST', {'Z', 'J'}, 'BMT', True] matches with TT: ['CANAL ST', {'6', 'W', 'Z', 'J', 'R', 'Q', 'N'}, 'BMT', [11, 12, 19, 11, 12, 19, 11, 12]] in lines {'Z', 'J'}
Station: ['CHAMBERS ST', {'Z', 'J'}, 'BMT', True] matches with TT: ['CHAMBERS ST', {'4', '6', 'Z', '5', 'J'}, 'BMT', [20, 20]] in lines {'Z', 'J'}
Station: ['FULTON ST', {'Z', 'J'}, 'BMT', True] matches with TT: ['FULTON ST', {'4', 'Z', '5', '3', 'J', '2', 'C', 'A'}, 'BMT', [21, 21]] in lines {'Z', 'J'}
Station: ['FULTON ST', {'Z', 'J'}, 'BMT', True] matches with TT: ['FULTON ST', {'4', 'Z', '5', '3', 'J', '2', 'C', 'A'}, 'IND', [59, 59]] in lines {'Z', 'J'}
Station: ['FULTON ST', {'Z', 'J'}, 'BMT', True] matches with TT: ['FULTON ST', {'4', '5', 'Z', '3', 'J', '2', 'C', 'A'}, 'IND', [59, 59]] in lines {'Z', 'J'}
Station: ['FULTON ST', {'Z', 'J'}, 'BMT', True] matches with TT: ['FULTON ST', {'4', '5', 'Z', '3', 'J', '2', 'C', 'A'}, 'IRT', [113, 135, 113, 135]] in lines {'Z', 'J'}
Station: ['BROAD ST', {'Z', 'J'}, 'BMT', True] matches with TT: ['BROAD ST', {'Z', 'J'}, 'BMT', [22, 22]] in lines {'Z', 'J'}
Station: ['8 AV', {'L'}, 'BMT', True] matches with TT: ['8 AV', {'A', 'E', 'C', 'L'}, 'BMT', [23, 23]] in lines {'L'}
Station: ['6 AV', {'L'}, 'BMT', True] matches with TT: ['6 AV', {'1', '3', 'F', '2', 'M', 'L'}, 'BMT', [24, 24]] in lines {'L'}
Station: ['3 AV', {'L'}, 'BMT', True] matches with TT: ['3 AV', {'L'}, 'BMT', [26, 26]] in lines {'L'}
Station: ['1 AV', {'L'}, 'BMT', True] matches with TT: ['1 AV', {'L'}, 'BMT', [27, 27]] in lines {'L'}
Station: ['INWOOD - 207 ST', {'A'}, 'IND', True] matches with TT: ['INWOOD - 207 ST', {'A'}, 'IND', [28, 28]] in lines {'A'}
Station: ['DYCKMAN ST', {'A'}, 'IND', True] matches with TT: ['DYCKMAN ST', {'A'}, 'IND', [29, 29]] in lines {'A'}
Station: ['190 ST', {'A'}, 'IND', True] matches with TT: ['190 ST', {'A'}, 'IND', [30, 30]] in lines {'A'}
Station: ['181 ST', {'A'}, 'IND', True] matches with TT: ['181 ST', {'A'}, 'IND', [31, 31]] in lines {'A'}
Station: ['175 ST', {'A'}, 'IND', True] matches with TT: ['175 ST', {'A'}, 'IND', [32, 32]] in lines {'A'}
Station: ['168 ST', {'A', 'C'}, 'IND', True] matches with TT: ['168 ST', {'A', 'C', '1'}, 'IND', [33, 33]] in lines {'A', 'C'}
Station: ['155 ST', {'C'}, 'IND', True] matches with TT: ['155 ST', {'C'}, 'IND', [35, 35]] in lines {'C'}
Station: ['145 ST', {'A', 'C'}, 'IND', True] matches with TT: ['145 ST', {'A', 'B', 'C', 'D'}, 'IND', [36, 37, 36, 37]] in lines {'A', 'C'}
Station: ['145 ST', {'B', 'D'}, 'IND', True] matches with TT: ['145 ST', {'A', 'B', 'C', 'D'}, 'IND', [36, 37, 36, 37, 36]] in lines {'B', 'D'}
Station: ['135 ST', {'B', 'C'}, 'IND', True] matches with TT: ['135 ST', {'B', 'C'}, 'IND', [38, 38]] in lines {'B', 'C'}
Station: ['125 ST', {'A', 'B', 'C', 'D'}, 'IND', True] matches with TT: ['125 ST', {'A', 'B', 'C', 'D'}, 'IND', [39, 39]] in lines {'A', 'B', 'C', 'D'}
Station: ['116 ST', {'B', 'C'}, 'IND', True] matches with TT: ['116 ST', {'B', 'C'}, 'IND', [40, 40]] in lines {'B', 'C'}
Station: ['103 ST', {'B', 'C'}, 'IND', True] matches with TT: ['103 ST', {'B', 'C'}, 'IND', [42, 42]] in lines {'B', 'C'}
Station: ['96 ST', {'B', 'C'}, 'IND', True] matches with TT: ['96 ST', {'B', 'C'}, 'IND', [43, 43]] in lines {'B', 'C'}
Station: ['86 ST', {'B', 'C'}, 'IND', True] matches with TT: ['86 ST', {'B', 'C'}, 'IND', [44, 44]] in lines {'B', 'C'}
Station: ['72 ST', {'B', 'C'}, 'IND', True] matches with TT: ['72 ST', {'B', 'C'}, 'IND', [46, 46]] in lines {'B', 'C'}
Station: ['50 ST', {'E', 'C'}, 'IND', True] matches with TT: ['50 ST', {'E', 'C'}, 'IND', [48, 48]] in lines {'E', 'C'}
Station: ['23 ST', {'E', 'C'}, 'IND', True] matches with TT: ['23 ST', {'E', 'C'}, 'IND', [51, 51]] in lines {'E', 'C'}
Station: ['14 ST', {'A', 'E', 'C'}, 'IND', True] matches with TT: ['14 ST', {'A', 'E', 'C', 'L'}, 'IND', [52, 52]] in lines {'A', 'E', 'C'}
Station: ['SPRING ST', {'E', 'C'}, 'IND', True] matches with TT: ['SPRING ST', {'E', 'C'}, 'IND', [55, 55]] in lines {'E', 'C'}
Station: ['CANAL ST', {'A', 'E', 'C'}, 'IND', True] matches with TT: ['CANAL ST', {'A', 'E', 'C'}, 'IND', [56, 56]] in lines {'A', 'E', 'C'}
Station: ['CHAMBERS ST', {'A', 'C'}, 'IND', True] matches with TT: ['CHAMBERS ST', {'3', '2', 'C', 'A', 'E'}, 'IND', [57, 57]] in lines {'A', 'C'}
Station: ['FULTON ST', {'A', 'C'}, 'IND', True] matches with TT: ['FULTON ST', {'4', 'Z', '5', '3', 'J', '2', 'C', 'A'}, 'BMT', [21, 21, 21]] in lines {'A', 'C'}
Station: ['FULTON ST', {'A', 'C'}, 'IND', True] matches with TT: ['FULTON ST', {'4', 'Z', '5', '3', 'J', '2', 'C', 'A'}, 'IND', [59, 59, 21]] in lines {'A', 'C'}
Station: ['FULTON ST', {'A', 'C'}, 'IND', True] matches with TT: ['FULTON ST', {'4', '5', 'Z', '3', 'J', '2', 'C', 'A'}, 'IND', [59, 59, 21]] in lines {'A', 'C'}
Station: ['FULTON ST', {'A', 'C'}, 'IND', True] matches with TT: ['FULTON ST', {'4', '5', 'Z', '3', 'J', '2', 'C', 'A'}, 'IRT', [113, 135, 113, 135, 21]] in lines {'A', 'C'}
Station: ['155 ST', {'B', 'D'}, 'IND', True] matches with TT: ['155 ST', {'B', 'D'}, 'IND', [60, 60]] in lines {'B', 'D'}
Station: ['57 ST', {'F'}, 'IND', True] matches with TT: ['57 ST', {'F'}, 'IND', [63, 63]] in lines {'F'}

Station: ['42 ST - BRYANT PK', {'F', 'B', 'D', 'M'}, 'IND', True] matches with TT: ['42 ST - BRYANT PK', {'F', 'B', 'D', '7', 'M'}, 'IND', [65, 65]] in lines {'F', 'B', 'D', 'M'}
Station: ['34 ST - HERALD SQ', {'F', 'B', 'D', 'M'}, 'IND', True] matches with TT: ['34 ST - HERALD SQ', {'M', 'W', 'F', 'B', 'D', 'R', 'Q', 'N'}, 'BMT', [5, 5, 5]] in lines {'F', 'B', 'D', 'M'}
Station: ['34 ST - HERALD SQ', {'F', 'B', 'D', 'M'}, 'IND', True] matches with TT: ['34 ST - HERALD SQ', {'M', 'W', 'F', 'B', 'D', 'R', 'Q', 'N'}, 'IND', [66, 66, 5]] in lines {'F', 'B', 'D', 'M'}
Station: ['23 ST', {'F', 'M'}, 'IND', True] matches with TT: ['23 ST', {'F', 'M'}, 'IND', [67, 67]] in lines {'F', 'M'}
Station: ['14 ST', {'F', 'M'}, 'IND', True] matches with TT: ['14 ST', {'1', '3', 'F', '2', 'M', 'L'}, 'IND', [68, 68]] in lines {'F', 'M'}
Station: ['14 ST', {'F', 'M'}, 'IND', True] matches with TT: ['14 ST', {'1', '3', 'F', '2', 'M', 'L'}, 'IRT', [103, 103]] in lines {'F', 'M'}
Station: ['GRAND ST', {'B', 'D'}, 'IND', True] matches with TT: ['GRAND ST', {'B', 'D'}, 'IND', [70, 70]] in lines {'B', 'D'}
Station: ['2 AV', {'F'}, 'IND', True] matches with TT: ['2 AV', {'F'}, 'IND', [71, 71]] in lines {'F'}
Station: ['EAST BROADWAY', {'F'}, 'IND', True] matches with TT: ['EAST BROADWAY', {'F'}, 'IND', [73, 73]] in lines {'F'}
Station: ['5 AV/53 ST', {'E', 'M'}, 'IND', True] matches with TT: ['5 AV/53 ST', {'E', 'M'}, 'IND', [75, 75]] in lines {'E', 'M'}
Station: ['7 AV', {'B', 'D', 'E'}, 'IND', True] matches with TT: ['7 AV', {'B', 'D', 'E'}, 'IND', [76, 76]] in lines {'B', 'D', 'E'}
Station: ['215 ST', {'1'}, 'IRT', True] matches with TT: ['215 ST', {'1'}, 'IRT', [78, 78]] in lines {'1'}
Station: ['207 ST', {'1'}, 'IRT', True] matches with TT: ['207 ST', {'1'}, 'IRT', [79, 79]] in lines {'1'}
Station: ['DYCKMAN ST', {'1'}, 'IRT', True] matches with TT: ['DYCKMAN ST', {'1'}, 'IRT', [80, 80]] in lines {'1'}
Station: ['191 ST', {'1'}, 'IRT', True] matches with TT: ['191 ST', {'1'}, 'IRT', [81, 81]] in lines {'1'}
Station: ['181 ST', {'1'}, 'IRT', True] matches with TT: ['181 ST', {'1'}, 'IRT', [82, 82]] in lines {'1'}
Station: ['157 ST', {'1'}, 'IRT', True] matches with TT: ['157 ST', {'1'}, 'IRT', [84, 84]] in lines {'1'}
Station: ['145 ST', {'1'}, 'IRT', True] matches with TT: ['145 ST', {'1'}, 'IRT', [85, 85]] in lines {'1'}
Station: ['125 ST', {'1'}, 'IRT', True] matches with TT: ['125 ST', {'1'}, 'IRT', [87, 87]] in lines {'1'}
Station: ['CATHEDRAL PKWY', {'1'}, 'IRT', True] matches with TT: ['CATHEDRAL PKWY', {'1'}, 'IRT', [89, 89]] in lines {'1'}
Station: ['103 ST', {'1'}, 'IRT', True] matches with TT: ['103 ST', {'1'}, 'IRT', [90, 90]] in lines {'1'}
Station: ['96 ST', {'3', '2', '1'}, 'IRT', True] matches with TT: ['96 ST', {'3', '2', '1'}, 'IRT', [91, 91]] in lines {'3', '2', '1'}
Station: ['86 ST', {'1'}, 'IRT', True] matches with TT: ['86 ST', {'1'}, 'IRT', [92, 92]] in lines {'1'}
Station: ['79 ST', {'1'}, 'IRT', True] matches with TT: ['79 ST', {'1'}, 'IRT', [93, 93]] in lines {'1'}
Station: ['72 ST', {'3', '2', '1'}, 'IRT', True] matches with TT: ['72 ST', {'3', '2', '1'}, 'IRT', [94, 94]] in lines {'3', '2', '1'}
Station: ['50 ST', {'1'}, 'IRT', True] matches with TT: ['50 ST', {'1'}, 'IRT', [97, 97]] in lines {'1'}
Station: ['TIMES SQ - 42 ST', {'3', '2', '1'}, 'IRT', True] matches with TT: ['TIMES SQ - 42 ST', {'1', 'W', 'S', '3', '2', 'C', 'R', '7', 'A', 'E', 'N', 'Q'}, 'BMT', [4, 4, 4]] in lines {'3', '2', '1'}
Station: ['TIMES SQ - 42 ST', {'3', '2', '1'}, 'IRT', True] matches with TT: ['TIMES SQ - 42 ST', {'1', 'W', 'S', '3', '2', '7', 'C', 'R', 'A', 'E', 'N', 'Q'}, 'IRT', [98, 146, 147, 98, 146, 147, 4]] in lines {'3', '2', '1'}
Station: ['TIMES SQ - 42 ST', {'3', '2', '1'}, 'IRT', True] matches with TT: ['TIMES SQ - 42 ST', {'1', 'S', '3', '2', '7', 'C', 'R', 'A', 'E', 'N', 'Q'}, 'IRT', [98, 146, 147, 98, 146, 147]] in lines {'3', '2', '1'}
Station: ['28 ST', {'1'}, 'IRT', True] matches with TT: ['28 ST', {'1'}, 'IRT', [100, 100]] in lines {'1'}
Station: ['23 ST', {'1'}, 'IRT', True] matches with TT: ['23 ST', {'1'}, 'IRT', [101, 101]] in lines {'1'}
Station: ['18 ST', {'1'}, 'IRT', True] matches with TT: ['18 ST', {'1'}, 'IRT', [102, 102]] in lines {'1'}
Station: ['14 ST', {'3', '2', '1'}, 'IRT', True] matches with TT: ['14 ST', {'1', '3', 'F', '2', 'M', 'L'}, 'IND', [68, 68, 68]] in lines {'3', '2', '1'}
Station: ['14 ST', {'3', '2', '1'}, 'IRT', True] matches with TT: ['14 ST', {'1', '3', 'F', '2', 'M', 'L'}, 'IRT', [103, 103, 68]] in lines {'3', '2', '1'}
Station: ['HOUSTON ST', {'1'}, 'IRT', True] matches with TT: ['HOUSTON ST', {'1'}, 'IRT', [105, 105]] in lines {'1'}
Station: ['CANAL ST', {'1'}, 'IRT', True] matches with TT: ['CANAL ST', {'1'}, 'IRT', [106, 106]] in lines {'1'}
Station: ['FRANKLIN ST', {'1'}, 'IRT', True] matches with TT: ['FRANKLIN ST', {'1'}, 'IRT', [107, 107]] in lines {'1'}
Station: ['CHAMBERS ST', {'3', '2', '1'}, 'IRT', True] matches with TT: ['CHAMBERS ST', {'3', '2', '1'}, 'IRT', [108, 108]] in lines {'3', '2', '1'}
Station: ['RECTOR ST', {'1'}, 'IRT', True] matches with TT: ['RECTOR ST', {'1'}, 'IRT', [110, 110]] in lines {'1'}
Station: ['SOUTH FERRY', {'1'}, 'IRT', True] matches with TT: ['SOUTH FERRY', {'R', '1', 'W'}, 'IRT', [111, 111]] in lines {'1'}
Station: ['FULTON ST', {'3', '2'}, 'IRT', True] matches with TT: ['FULTON ST', {'4', 'Z', '5', '3', 'J', '2', 'C', 'A'}, 'BMT', [21, 21, 21, 59]] in lines {'3', '2'}
Station: ['FULTON ST', {'3', '2'}, 'IRT', True] matches with TT: ['FULTON ST', {'4', 'Z', '5', '3', 'J', '2', 'C', 'A'}, 'IND', [59, 59, 21, 59]] in lines {'3', '2'}
Station: ['FULTON ST', {'3', '2'}, 'IRT', True] matches with TT: ['FULTON ST', {'4', '5', 'Z', '3', 'J', '2', 'C', 'A'}, 'IND', [59, 59, 21, 59]] in lines {'3', '2'}
Station: ['FULTON ST', {'3', '2'}, 'IRT', True] matches with TT: ['FULTON ST', {'4', '5', 'Z', '3', 'J', '2', 'C', 'A'}, 'IRT', [113, 135, 113, 135, 21, 59]] in lines {'3', '2'}
Station: ['WALL ST', {'3', '2'}, 'IRT', True] matches with TT: ['WALL ST', {'3', '2'}, 'IRT', [114, 114]] in lines {'3', '2'}
Station: ['125 ST', {'5', '4', '6'}, 'IRT', True] matches with TT: ['125 ST', {'5', '4', '6'}, 'IRT', [115, 115]] in lines {'5', '4', '6'}
Station: ['116 ST', {'6'}, 'IRT', True] matches with TT: ['116 ST', {'6'}, 'IRT', [116, 116]] in lines {'6'}
Station: ['110 ST', {'6'}, 'IRT', True] matches with TT: ['110 ST', {'6'}, 'IRT', [117, 117]] in lines {'6'}
Station: ['103 ST', {'6'}, 'IRT', True] matches with TT: ['103 ST', {'6'}, 'IRT', [118, 118]] in lines {'6'}
Station: ['96 ST', {'6'}, 'IRT', True] matches with TT: ['96 ST', {'6'}, 'IRT', [119, 119]] in lines {'6'}
Station: ['86 ST', {'5', '4', '6'}, 'IRT', True] matches with TT: ['86 ST', {'5', '4', '6'}, 'IRT', [120, 120]] in lines {'5', '4', '6'}
Station: ['77 ST', {'6'}, 'IRT', True] matches with TT: ['77 ST', {'6'}, 'IRT', [121, 121]] in lines {'6'}
Station: ['59 ST', {'5', '4', '6'}, 'IRT', True] matches with TT: ['59 ST', {'4', '6', 'W', '5', 'R', 'Q', 'N'}, 'BMT', []] in lines {'5', '4', '6'}
Station: ['59 ST', {'5', '4', '6'}, 'IRT', True] matches with TT: ['59 ST', {'4', '6', 'W', '5', 'R', 'Q', 'N'}, 'IRT', [123, 123]] in lines {'5', '4', '6'}
Station: ['51 ST', {'6'}, 'IRT', True] matches with TT: ['51 ST', {'6'}, 'IRT', [124, 124]] in lines {'6'}
Station: ['33 ST', {'6'}, 'IRT', True] matches with TT: ['33 ST', {'6'}, 'IRT', [126, 126]] in lines {'6'}
Station: ['28 ST', {'6'}, 'IRT', True] matches with TT: ['28 ST', {'6'}, 'IRT', [127, 127]] in lines {'6'}
Station: ['23 ST', {'6'}, 'IRT', True] matches with TT: ['23 ST', {'6'}, 'IRT', [128, 128]] in lines {'6'}
Station: ['14 ST - UNION SQ', {'5', '4', '6'}, 'IRT', True] matches with TT: ['14 ST - UNION SQ', {'4', '6', 'W', '5', 'R', 'Q', 'N', 'L'}, 'BMT', [8, 8, 8]] in lines {'5', '4', '6'}
Station: ['14 ST - UNION SQ', {'5', '4', '6'}, 'IRT', True] matches with TT: ['14 ST - UNION SQ', {'4', '6', 'W', '5', 'R', 'Q', 'N', 'L'}, 'IRT', [129, 129, 8]] in lines {'5', '4', '6'}
Station: ['ASTOR PL', {'6'}, 'IRT', True] matches with TT: ['ASTOR PL', {'6'}, 'IRT', [130, 130]] in lines {'6'}
Station: ['BLEECKER ST', {'6'}, 'IRT', True] matches with TT: ['BLEECKER ST', {'F', 'D', '6'}, 'IRT', [131, 131]] in lines {'6'}

Station: ['SPRING ST', {'6'}, 'IRT', True] matches with TT: ['SPRING ST', {'6'}, 'IRT', [132, 132]] in lines {'6'}
Station: ['CANAL ST', {'6'}, 'IRT', False] matches with TT: ['CANAL ST', {'6', 'W', 'Z', 'J', 'R', 'Q', 'N'}, 'BMT', [11, 12, 19, 11, 12, 19, 11, 12, 19]] in lines {'6'}
Station: ['FULTON ST', {'5', '4'}, 'IRT', True] matches with TT: ['FULTON ST', {'4', 'Z', '5', '3', 'J', '2', 'C', 'A'}, 'BMT', [21, 21, 21, 59, 113]] in lines {'5', '4'}
Station: ['FULTON ST', {'5', '4'}, 'IRT', True] matches with TT: ['FULTON ST', {'4', 'Z', '5', '3', 'J', '2', 'C', 'A'}, 'IND', [59, 59, 21, 59, 113]] in lines {'5', '4'}
Station: ['FULTON ST', {'5', '4'}, 'IRT', True] matches with TT: ['FULTON ST', {'4', '5', 'Z', '3', 'J', '2', 'C', 'A'}, 'IND', [59, 59, 21, 59, 113]] in lines {'5', '4'}
Station: ['FULTON ST', {'5', '4'}, 'IRT', True] matches with TT: ['FULTON ST', {'4', '5', 'Z', '3', 'J', '2', 'C', 'A'}, 'IRT', [113, 135, 113, 135, 21, 59, 113]] in lines {'5', '4'}
Station: ['WALL ST', {'5', '4'}, 'IRT', True] matches with TT: ['WALL ST', {'5', '4'}, 'IRT', [136, 136]] in lines {'5', '4'}
Station: ['BOWLING GREEN', {'5', '4'}, 'IRT', True] matches with TT: ['BOWLING GREEN', {'5', '4'}, 'IRT', [137, 137]] in lines {'5', '4'}
Station: ['145 ST', {'3'}, 'IRT', True] matches with TT: ['145 ST', {'3'}, 'IRT', [139, 139]] in lines {'3'}
Station: ['135 ST', {'3', '2'}, 'IRT', True] matches with TT: ['135 ST', {'3', '2'}, 'IRT', [140, 140]] in lines {'3', '2'}
Station: ['125 ST', {'3', '2'}, 'IRT', True] matches with TT: ['125 ST', {'3', '2'}, 'IRT', [141, 141]] in lines {'3', '2'}
Station: ['116 ST', {'3', '2'}, 'IRT', True] matches with TT: ['116 ST', {'3', '2'}, 'IRT', [142, 142]] in lines {'3', '2'}
Station: ['TIMES SQ - 42 ST', {'7'}, 'IRT', True] matches with TT: ['TIMES SQ - 42 ST', {'1', 'W', 'S', '3', '2', 'C', 'R', '7', 'A', 'E', 'N', 'Q'}, 'BMT', [4, 4, 4, 98]] in lines {'7'}
Station: ['TIMES SQ - 42 ST', {'7'}, 'IRT', True] matches with TT: ['TIMES SQ - 42 ST', {'1', 'W', 'S', '3', '2', '7', 'C', 'R', 'A', 'E', 'N', 'Q'}, 'IRT', [98, 146, 147, 98, 146, 147, 4, 98]] in lines {'7'}
Station: ['TIMES SQ - 42 ST', {'7'}, 'IRT', True] matches with TT: ['TIMES SQ - 42 ST', {'1', 'S', '3', '2', '7', 'C', 'R', 'A', 'E', 'N', 'Q'}, 'IRT', [98, 146, 147, 98, 146, 147, 98]] in lines {'7'}
Station: ['TIMES SQ - 42 ST', {'S'}, 'IRT', True] matches with TT: ['TIMES SQ - 42 ST', {'1', 'W', 'S', '3', '2', 'C', 'R', '7', 'A', 'E', 'N', 'Q'}, 'BMT', [4, 4, 4, 98, 146]] in lines {'S'}
Station: ['TIMES SQ - 42 ST', {'S'}, 'IRT', True] matches with TT: ['TIMES SQ - 42 ST', {'1', 'W', 'S', '3', '2', '7', 'C', 'R', 'A', 'E', 'N', 'Q'}, 'IRT', [98, 146, 147, 98, 146, 147, 4, 98, 146]] in lines {'S'}
Station: ['TIMES SQ - 42 ST', {'S'}, 'IRT', True] matches with TT: ['TIMES SQ - 42 ST', {'1', 'S', '3', '2', '7', 'C', 'R', 'A', 'E', 'N', 'Q'}, 'IRT', [98, 146, 147, 98, 146, 147, 98, 146]] in lines {'S'}

In [358]:
df_station_list['Matched'].value_counts()

True     112
False     41
Name: Matched, dtype: int64

In [359]:
df_station_list[~df_station_list['Matched']]

                                 Station        Routes Division  Matched
0                     LEXINGTON AV/59 ST     {R, N, W}      BMT    False
16                          WHITEHALL ST        {R, W}      BMT    False
17                              ESSEX ST     {Z, J, M}      BMT    False
25                      UNION SQ - 14 ST           {L}      BMT    False
34                 163 ST - AMSTERDAM AV           {C}      IND    False
41               CATHEDRAL PKWY (110 ST)        {B, C}      IND    False
45     81 ST - MUSEUM OF NATURAL HISTORY        {B, C}      IND    False
47               59 ST - COLUMBUS CIRCLE  {A, B, C, D}      IND    False
49   42 ST - PORT AUTHORITY BUS TERMINAL     {A, E, C}      IND    False
50                  34 ST - PENN STATION     {A, E, C}      IND    False
53                                W 4 ST     {A, E, C}      IND    False
54                                W 4 ST  {F, B, D, M}      IND    False
58                    WORLD TRADE CENTER           {E}      IND    False
61                      ROOSEVELT ISLAND           {F}      IND    False
62                    LEXINGTON AV/63 ST        {F, Q}      IND    False
64           47-50 STS - ROCKEFELLER CTR  {F, B, D, M}      IND    False
69                 BROADWAY-LAFAYETTE ST  {F, B, D, M}      IND    False
72                           DELANCEY ST           {F}      IND    False
74                    LEXINGTON AV/53 ST        {E, M}      IND    False
77                  MARBLE HILL - 225 ST           {1}      IRT    False
83               168 ST - WASHINGTON HTS           {1}      IRT    False
86                 137 ST - CITY COLLEGE           {1}      IRT    False
88          116 ST - COLUMBIA UNIVERSITY           {1}      IRT    False
95                66 ST - LINCOLN CENTER           {1}      IRT    False
96               59 ST - COLUMBUS CIRCLE           {1}      IRT    False
99                  34 ST - PENN STATION     {3, 2, 1}      IRT    False
104         CHRISTOPHER ST - SHERIDAN SQ           {1}      IRT    False
109                        WTC CORTLANDT           {1}      IRT    False
112                              PARK PL        {3, 2}      IRT    False
122               68 ST - HUNTER COLLEGE           {6}      IRT    False
125                GRAND CENTRAL - 42 ST     {5, 4, 6}      IRT    False
134          BROOKLYN BRIDGE - CITY HALL     {5, 4, 6}      IRT    False
138                      HARLEM - 148 ST           {3}      IRT    False
143          CENTRAL PARK NORTH (110 ST)        {3, 2}      IRT    False
144                GRAND CENTRAL - 42 ST           {7}      IRT    False
145                                 5 AV           {7}      IRT    False
148                GRAND CENTRAL - 42 ST           {S}      IRT    False
149                        34 ST - 11 AV           {7}      IRT    False
150                                96 ST           {Q}      IND    False
151                                86 ST           {Q}      IND    False
152                                72 ST           {Q}      IND    False

In [390]:
# Check the unmatched station one after another and save the result into the manually input dictionary
df_tt_list[df_tt_list['Station'].str.contains('W 4 ST')]

              Station                 Routes Division geo_sta
153  W 4 ST - WASH SQ  {F, B, C, D, A, E, M}      IND      []

In [399]:
# df_station_list[~df_station_list['Matched']]['Station'].tolist()

In [396]:
dict_man = {}
dict_man[1]=3

In [397]:
dict_man

{1: 3}

In [398]:
dict_man[1]

3