# Week 4 Assignment for the Capstone Project - Part I: Data Preparation

Developed by Yongkang Liu  
December 27, 2019

<a name="top"></a>  

In the capstone project, I would like to explore the ridership of New York subways and its impact on the selection of coffee shop sites in Manhattan.

In this assignment (Week 4), I will first focus on preparing data for the final assignment. Specifically, data from different sources are collected, cleaned, and formatted. The cleaned data is exported as csv files for future uses.

### Friendly Reminder: If you want to just check the cleaned data, you can skip the data preparation steps and jump to the end of this notebook. [click here](#cleaned)

In [116]:
# import libraries
import pandas as pd

#### Reference

* [Transportation Data and Examples](http://transitdatatoolkit.com/lessons/mapping-a-transit-system/)

##  Data Source: Turnstile Data
MTA reguarly publishes turnstile data every week. Each file contains information regarding the counts of entries and exits through each turnstile in MTA stations around every 4 hours. Each turnstile is distinguished by UNIT, SCP and STATION. Meanwhile, each station is uniquely identified by the station name, line mark, and division tag.

Major operations on the turnstile data include but not limited to 1) getting the entries and exits through each turntile in each collection period, 2) joining data at the same station and grouping by the date and time, 3) clearning data by removing abnormal or erroneous records.

In [3]:
# Save MTA turnstile data into a dataframe
# Source: http://web.mta.info/developers/turnstile.html
# The file is downloaded and saved in the same folder as the notebook
df_tt = pd.read_csv('turnstile_191102.txt', skipinitialspace=True)  # the data in the week of Nov. 02, 2019
df_tt.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2019,00:00:00,REGULAR,7247322,2455491
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2019,04:00:00,REGULAR,7247336,2455499
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2019,08:00:00,REGULAR,7247351,2455532
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2019,12:00:00,REGULAR,7247463,2455623
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2019,16:00:00,REGULAR,7247755,2455679

In [4]:
# Check the column headers
print(f'df_tt.columns: {df_tt.columns}')

df_tt.columns: Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

Notice that the last column name, a string variable, contains many space characters. We need to remove them.

In [5]:
print(f'Check the last column name: ("{df_tt.columns[-1]}")')

# rename the column name
df_tt.rename(columns={df_tt.columns[-1]:df_tt.columns[-1].strip(' ')}, inplace=True)
print(f'After the change, the new columns are {df_tt.columns}')

Check the last column name: ("EXITS                                                               ")
After the change, the new columns are Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS'],
      dtype='object')

To better identify each station, we design a unique station index. Since a station is uniquely identified by the station name, line name, and division. We use a number string as the label.

In [6]:
print(f'The number of unique station names: {len(df_tt.STATION.unique().tolist())}')
print(f'The number of unique line names: {len(df_tt.LINENAME.unique().tolist())}')
print(f'The number of unique division names: {len(df_tt.DIVISION.unique().tolist())}')

The number of unique station names: 377
The number of unique line names: 113
The number of unique division names: 6

We use three digits to label a station, three digits for a line combination, and one digit for a division. For example, the station "RIT-ROOSEVELT" in Line "R" of Division "RIT" have the encoded indices, "376", "019", and "5", for the station name, line combination, and division, respectively. We label it as "t5019376" in the format of "t-Division-Line-Station" where "t" stands for the turntile data source.

In [7]:
# First, obtain the index in each column
dict_tt_stations = {k: str(v).zfill(3) for v, k in enumerate(df_tt.STATION.unique().tolist())}
dict_tt_lines = {k: str(v).zfill(3) for v, k in enumerate(df_tt.LINENAME.unique().tolist())}
dict_tt_divisions = {k: str(v) for v, k in enumerate(df_tt.DIVISION.unique().tolist())}

# Then, create a new column in the dataframe and assign the unique index 
df_tt['STATION_IDX'] = df_tt[['STATION', 'LINENAME', 'DIVISION']].apply(lambda x: 't'+dict_tt_divisions[x.DIVISION]+dict_tt_lines[x.LINENAME]+dict_tt_stations[x.STATION], axis=1)
df_tt.head()

In [ ]:
# optional: check elements in each column/feature
# Explanations to Terminology can be found in http://web.mta.info/developers/resources/nyct/turnstile/ts_Field_Description.txt
# df_tt.DESC.unique()
# df_tt[df_tt.DESC=='RECOVR AUD']

Notice that the turnstile data does not contain geolcation information, i.e., latitude and longitude, of the station. In order to assign such information to each row of data for the future correlation with Foursquare API, I need additional data in this work.

## Data Source: MTA Stations' Geolocation Information

I will use the MTA's station geolocation dataset.

### Station Geo Data

Station geo data includes geographical information of each station in MTA. It mainly provides the location information, i.e., latitude and longitude of each station. The record is mainly distinguished by the station name, line name, division.

The naming rules can be found [here](https://en.wikipedia.org/wiki/New_York_City_Subway_nomenclature).

Note that one station may have multiple exits in different geolocations. As there is no specific location information mapped to each turnstile, I will only consider all turnstiles' data of the same station as one piece in future processes.

First, let us look at the station geolocation dataset.

In [10]:
# There are multiple versions of such data
# Version 1
#df_geo = pd.read_csv('DOITT_SUBWAY_STATION_01_13SEPT2010.csv')
#df_geo.loc[0]['LINE'].split('-')

# Version 2
# df_station_entrances = pd.read_csv('NYC_Transit_Subway_Entrance_And_Exit_Data.csv')

# Version 3
# We are going to use the following data published by MTA
# http://web.mta.info/developers/data/nyct/subway/Stations.csv 
# in GTFS format
df_stations = pd.read_csv('Stations.csv')

df_stations.head()

,Station ID,Complex ID,GTFS Stop ID,Division,Line,Stop Name,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude,North Direction Label,South Direction Label
0,1,1,R01,BMT,Astoria,Astoria - Ditmars Blvd,Q,N W,Elevated,40.775036,-73.912034,NaN,Manhattan
1,2,2,R03,BMT,Astoria,Astoria Blvd,Q,N W,Elevated,40.770258,-73.917843,Ditmars Blvd,Manhattan
2,3,3,R04,BMT,Astoria,30 Av,Q,N W,Elevated,40.766779,-73.921479,Astoria - Ditmars Blvd,Manhattan
3,4,4,R05,BMT,Astoria,Broadway,Q,N W,Elevated,40.761820,-73.925508,Astoria - Ditmars Blvd,Manhattan
4,5,5,R06,BMT,Astoria,36 Av,Q,N W,Elevated,40.756804,-73.929575,Astoria - Ditmars Blvd,Manhattan

In [12]:
# Remove unrelated columns
df_stations.drop(["Complex ID", "GTFS Stop ID", 'Line', 'Structure', 'North Direction Label', 'South Direction Label'], axis=1, inplace=True)
df_stations.head()

The station data has the unique identifier, i.e., Station ID, for each record. Therefore, we don't need to render a different ID for this dataframe.  

Our next step is to link these Station IDs with the station index created in the turnstile data.

In [14]:
df_stations.Borough.unique().tolist()

['Q', 'M', 'Bk', 'Bx', 'SI']

We further retain our disussion within the Manhatten island. Therefore, we only keep the stations in the "Borough M".

There is another way to retrieve Manhattan-only data, i.e., deleting all rows that contain station data out of Manhattan
```python
indexNames = df_stations[ df_stations['Borough'] != 'M' ].index # first, get indices of these rows
df_stations.drop(indexNames , inplace=True) # remove them from the dataframe
```

In [15]:
df_stations = df_stations[df_stations.Borough=='M']
print(f'We found {df_stations.shape[0]} stations with {df_stations["Stop Name"].nunique()} unique station names')
df_stations.head()

The reason why we have more station records than the unique station names is because one station can have multiple records if it hosts multiple lines.

In [18]:
# The stations in different Routes may have the same name. Their coordinates may differ from each other but all in a vicinity. 
# Since the turntile data uses the stop name for all routes, we will render a coordinate for each hub station 

# check how many records are there for the station name of "Canal St"
df_stations[df_stations['Stop Name']=='Canal St']

,Station ID,Division,Stop Name,Borough,Daytime Routes,GTFS Latitude,GTFS Longitude
17,18,BMT,Canal St,M,R W,40.719527,-74.001775
18,19,BMT,Canal St,M,N Q,40.718383,-74.000460
103,104,BMT,Canal St,M,J Z,40.718092,-73.999892
169,169,IND,Canal St,M,A C E,40.720824,-74.005229
325,325,IRT,Canal St,M,1,40.722854,-74.006277
410,410,IRT,Canal St,M,6,40.718803,-74.000193

It may result in two consequences: 1) one station in the turntile data may have multiple geolocations after the mapping, 2) there may be some wrong mapping due to stations in different lines/divisions share the same name.

To eliminate such errors, I combine division, line, and stop name to uniquely locate a station with the specific Station ID.

### Matching Stations

In order to find all turnstile data of Manhattan stations and assign them with correct geolocation information, it needs to match the records by the station names in the df_stations.

In [19]:
# Processing the Turnstile dataset

# Since there are only three divisions in Manhattan, I first reduce the turnstile data size 
df_tt[df_tt.DIVISION.isin(['BMT', 'IND', 'IRT'])].STATION.nunique()

# Create a unique search id for each station
df_tt['SEARCH_ID'] = df_tt[['STATION', 'LINENAME', 'DIVISION', 'STATION_IDX']].apply(lambda x: ','.join(x.dropna().astype(str)), axis=1)

In [20]:
# Obtain all stations in the Turnstile dataset and save them into a list
tt_list = df_tt['SEARCH_ID'].unique().tolist()
tt_list = list(map(lambda x: x.split(','), tt_list))

# Convert the list to a dataframe
df_tt_list = pd.DataFrame(tt_list, columns=['Station', 'Routes', 'Division', 'STATION_IDX'])
df_tt_list.head()

# Adjust the name format: change "a-b" to "a - b"
def hyphen_adjust(x):
    if '-' in x:
        tmp = x.split('-')
        return ' - '.join(tmp)
    else:
        return x

#df_tt_list['Station'] = df_tt_list['Station'].apply(hyphen_adjust)
#df_tt_list['Routes'] = df_tt_list['Routes'].apply(lambda x: set(x))

from tqdm import tqdm, tqdm_notebook
tqdm_notebook().pandas()
df_tt_list['Station'] = df_tt_list['Station'].progress_apply(hyphen_adjust)
df_tt_list['Routes'] = df_tt_list['Routes'].progress_apply(lambda x: set(x))
# a progress bar will appear when running the code

df_tt_list.head()

df_tt_list.shape

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

HBox(children=(IntProgress(value=0, max=482), HTML(value='')))

HBox(children=(IntProgress(value=0, max=482), HTML(value='')))

(482, 4)

In [21]:
df_tt_list.head()

            Station                                Routes Division STATION_IDX
0             59 ST                 {R, 4, Q, W, N, 5, 6}      BMT    t0000000
1        5 AV/59 ST                          {N, Q, R, W}      BMT    t0001001
2      57 ST - 7 AV                          {N, Q, R, W}      BMT    t0001002
3             49 ST                          {N, Q, R, W}      BMT    t0001003
4  TIMES SQ - 42 ST  {C, A, 2, R, 1, Q, 7, W, S, N, E, 3}      BMT    t0002004

Next, it is about to obtain the search ID for the geolocation dataset.

In [22]:
# Processing the station profile dataset, i.e., the station geolocation reference
# Obtain unique ID for the qualified stations
df_stations['Search ID'] = df_stations[['Stop Name', 'Daytime Routes', 'Division', 'Station ID']].apply(lambda x: ','.join(x.dropna().astype(str)), axis=1)

df_stations.reset_index(inplace=True)

df_stations.head()

,index,Station ID,Division,Stop Name,Borough,Daytime Routes,GTFS Latitude,GTFS Longitude,Search ID
0,6,7,BMT,Lexington Av/59 St,M,N W R,40.762660,-73.967258,"Lexington Av/59 St,N W R,BMT,7"
1,7,8,BMT,5 Av/59 St,M,N W R,40.764811,-73.973347,"5 Av/59 St,N W R,BMT,8"
2,8,9,BMT,57 St - 7 Av,M,N Q R W,40.764664,-73.980658,"57 St - 7 Av,N Q R W,BMT,9"
3,9,10,BMT,49 St,M,N R W,40.759901,-73.984139,"49 St,N R W,BMT,10"
4,10,11,BMT,Times Sq - 42 St,M,N Q R W,40.754672,-73.986754,"Times Sq - 42 St,N Q R W,BMT,11"

In [23]:
sta_list = df_stations['Search ID'].unique().tolist()

sta_list = list(map(lambda x: x.upper(), sta_list))  # Captalize all names

sta_list = list(map(lambda x: x.split(','), sta_list))

df_station_list = pd.DataFrame(sta_list, columns=['Station', 'Routes', 'Division', 'Station ID'])  # save into a dataframe

df_station_list['Routes'] = df_station_list['Routes'].apply(lambda x: set(x.split(' '))) # split routes into a list

df_station_list.head()

df_station_list.shape

(153, 4)

In [24]:
df_station_list.head()

              Station        Routes Division Station ID
0  LEXINGTON AV/59 ST     {N, R, W}      BMT          7
1          5 AV/59 ST     {N, R, W}      BMT          8
2        57 ST - 7 AV  {N, Q, R, W}      BMT          9
3               49 ST     {N, R, W}      BMT         10
4    TIMES SQ - 42 ST  {N, Q, R, W}      BMT         11

Now, the job is to find these 153 subway stations in Manhattan in the station list of the Turnstile data

In [25]:
# Define a new column to save the matched station
df_tt_list['Geo_ID']=df_tt_list['Station'].apply(lambda x: [])

# Define a new column to signal the match result in the reference station dataframe and set initial values to "False" 
df_station_list['Matched']=df_station_list['Station'].apply(lambda x: False)

In [26]:
'''
def station_match(tt, station):
    matched = False
    #print(f'tt: {tt}, station: {station}')
    if tt[2] == station[2]:  # the same division
        if tt[0] == station[0]:  # the same name
            #print(f'Station: {station} matches with TT: {tt}')
            if station[1].issubset(tt[1]):  # route set match
                matched = True
                print(f'Station: {station} matches with TT: {tt} in lines {station[1]}')
    return matched
'''
# a relaxed version which removes the division comparison because some stations in the Turntile data can be a union of multiple stations of different divisions
# The station name plus service routes can adequately define a unique station
def station_match(tt, station):
    matched = False
    #print(f'tt: {tt}, station: {station}')
    if tt[0] == station[0]:
        #print(f'Station: {station} matches with TT: {tt}')
        if station[1].issubset(tt[1]):
            matched = True
            print(f'Station: {station} matches with TT: {tt} in lines {station[1]}')
    return matched

In [27]:
count = 0
dTest = {}
dict_stations = {}
for i in range(df_station_list.shape[0]):
    for j in range(df_tt_list.shape[0]):
        if station_match(list(df_tt_list.loc[j]), list(df_station_list.loc[i])):
            count += 1
            # Add the Station_ID into The turntile record 
            df_tt_list.loc[j]['Geo_ID'].append(df_station_list.at[i, "Station ID"])
            df_station_list.at[i, 'Matched'] = True
            if df_tt_list.loc[j]['STATION_IDX'] in dTest:
                dict_stations[df_tt_list.loc[j]['STATION_IDX']].append(df_station_list.at[i, "Station ID"])
            else:
                dict_stations[df_tt_list.loc[j]['STATION_IDX']] = [df_station_list.at[i, "Station ID"]]

Station: ['5 AV/59 ST', {'N', 'R', 'W'}, 'BMT', '8', False] matches with TT: ['5 AV/59 ST', {'N', 'Q', 'R', 'W'}, 'BMT', 't0001001', []] in lines {'N', 'R', 'W'}
Station: ['57 ST - 7 AV', {'N', 'Q', 'R', 'W'}, 'BMT', '9', False] matches with TT: ['57 ST - 7 AV', {'N', 'Q', 'R', 'W'}, 'BMT', 't0001002', []] in lines {'N', 'Q', 'R', 'W'}
Station: ['49 ST', {'N', 'R', 'W'}, 'BMT', '10', False] matches with TT: ['49 ST', {'N', 'Q', 'R', 'W'}, 'BMT', 't0001003', []] in lines {'N', 'R', 'W'}
Station: ['TIMES SQ - 42 ST', {'N', 'Q', 'R', 'W'}, 'BMT', '11', False] matches with TT: ['TIMES SQ - 42 ST', {'C', 'A', '2', 'R', '1', 'Q', '7', 'W', 'S', 'N', 'E', '3'}, 'BMT', 't0002004', []] in lines {'N', 'Q', 'R', 'W'}
Station: ['TIMES SQ - 42 ST', {'N', 'Q', 'R', 'W'}, 'BMT', '11', True] matches with TT: ['TIMES SQ - 42 ST', {'2', 'A', 'C', 'R', '1', '7', 'Q', 'W', 'S', 'N', 'E', '3'}, 'IRT', 't3085004', []] in lines {'N', 'Q', 'R', 'W'}
Station: ['34 ST - HERALD SQ', {'N', 'Q', 'R', 'W'}, 'BMT', '12', False] matches with TT: ['34 ST - HERALD SQ', {'R', 'B', 'F', 'Q', 'M', 'W', 'N', 'D'}, 'BMT', 't0003005', []] in lines {'N', 'Q', 'R', 'W'}
Station: ['34 ST - HERALD SQ', {'N', 'Q', 'R', 'W'}, 'BMT', '12', True] matches with TT: ['34 ST - HERALD SQ', {'R', 'B', 'F', 'Q', 'M', 'W', 'N', 'D'}, 'IND', 't1003005', []] in lines {'N', 'Q', 'R', 'W'}
Station: ['28 ST', {'R', 'W'}, 'BMT', '13', False] matches with TT: ['28 ST', {'N', 'R', 'W'}, 'BMT', 't0004006', []] in lines {'R', 'W'}
Station: ['23 ST', {'R', 'W'}, 'BMT', '14', False] matches with TT: ['23 ST', {'N', 'R', 'W'}, 'BMT', 't0004007', []] in lines {'R', 'W'}
Station: ['14 ST - UNION SQ', {'N', 'Q', 'R', 'W'}, 'BMT', '15', False] matches with TT: ['14 ST - UNION SQ', {'R', 'L', '4', 'Q', 'W', 'N', '5', '6'}, 'BMT', 't0005008', []] in lines {'N', 'Q', 'R', 'W'}
Station: ['14 ST - UNION SQ', {'N', 'Q', 'R', 'W'}, 'BMT', '15', True] matches with TT: ['14 ST - UNION SQ', {'R', 'L', '4', 'Q', 'W', 'N', '5', '6'}, 'IRT', 't3092008', []] in lines {'N', 'Q', 'R', 'W'}
Station: ['8 ST - NYU', {'R', 'W'}, 'BMT', '16', False] matches with TT: ['8 ST - NYU', {'N', 'R', 'W'}, 'BMT', 't0004009', []] in lines {'R', 'W'}
Station: ['PRINCE ST', {'R', 'W'}, 'BMT', '17', False] matches with TT: ['PRINCE ST', {'N', 'R', 'W'}, 'BMT', 't0004010', []] in lines {'R', 'W'}
Station: ['CANAL ST', {'R', 'W'}, 'BMT', '18', False] matches with TT: ['CANAL ST', {'R', 'Z', 'Q', 'W', 'J', 'N', '6'}, 'BMT', 't0006011', []] in lines {'R', 'W'}
Station: ['CANAL ST', {'N', 'Q'}, 'BMT', '19', False] matches with TT: ['CANAL ST', {'R', 'Z', 'Q', 'W', 'J', 'N', '6'}, 'BMT', 't0006011', ['18']] in lines {'N', 'Q'}
Station: ['CITY HALL', {'R', 'W'}, 'BMT', '20', False] matches with TT: ['CITY HALL', {'N', 'R', 'W'}, 'BMT', 't0004012', []] in lines {'R', 'W'}
Station: ['CORTLANDT ST', {'R', 'W'}, 'BMT', '21', False] matches with TT: ['CORTLANDT ST', {'R', 'N', 'W'}, 'BMT', 't0007013', []] in lines {'R', 'W'}
Station: ['RECTOR ST', {'R', 'W'}, 'BMT', '22', False] matches with TT: ['RECTOR ST', {'N', 'R', 'W'}, 'BMT', 't0004014', []] in lines {'R', 'W'}
Station: ['BOWERY', {'J', 'Z'}, 'BMT', '103', False] matches with TT: ['BOWERY', {'J', 'Z'}, 'BMT', 't0010017', []] in lines {'J', 'Z'}
Station: ['CANAL ST', {'J', 'Z'}, 'BMT', '104', False] matches with TT: ['CANAL ST', {'R', 'Z', 'Q', 'W', 'J', 'N', '6'}, 'BMT', 't0006011', ['18', '19']] in lines {'J', 'Z'}
Station: ['CHAMBERS ST', {'J', 'Z'}, 'BMT', '105', False] matches with TT: ['CHAMBERS ST', {'Z', '4', 'J', '5', '6'}, 'BMT', 't0011018', []] in lines {'J', 'Z'}
Station: ['FULTON ST', {'J', 'Z'}, 'BMT', '106', False] matches with TT: ['FULTON ST', {'C', 'A', '2', 'Z', '4', 'J', '5', '3'}, 'BMT', 't0012019', []] in lines {'J', 'Z'}
Station: ['FULTON ST', {'J', 'Z'}, 'BMT', '106', True] matches with TT: ['FULTON ST', {'C', 'A', '2', 'Z', '4', 'J', '5', '3'}, 'IND', 't1012019', []] in lines {'J', 'Z'}
Station: ['FULTON ST', {'J', 'Z'}, 'BMT', '106', True] matches with TT: ['FULTON ST', {'2', 'A', 'C', 'Z', '4', 'J', '5', '3'}, 'IND', 't1051019', []] in lines {'J', 'Z'}
Station: ['FULTON ST', {'J', 'Z'}, 'BMT', '106', True] matches with TT: ['FULTON ST', {'2', 'A', 'C', 'Z', '4', 'J', '5', '3'}, 'IRT', 't3051019', []] in lines {'J', 'Z'}
Station: ['BROAD ST', {'J', 'Z'}, 'BMT', '107', False] matches with TT: ['BROAD ST', {'J', 'Z'}, 'BMT', 't0010020', []] in lines {'J', 'Z'}
Station: ['8 AV', {'L'}, 'BMT', '115', False] matches with TT: ['8 AV', {'C', 'A', 'L', 'E'}, 'BMT', 't0029054', []] in lines {'L'}
Station: ['6 AV', {'L'}, 'BMT', '116', False] matches with TT: ['6 AV', {'2', 'L', '1', 'F', 'M', '3'}, 'BMT', 't0030069', []] in lines {'L'}
Station: ['3 AV', {'L'}, 'BMT', '118', False] matches with TT: ['3 AV', {'L'}, 'BMT', 't0031070', []] in lines {'L'}
Station: ['1 AV', {'L'}, 'BMT', '119', False] matches with TT: ['1 AV', {'L'}, 'BMT', 't0031071', []] in lines {'L'}
Station: ['INWOOD - 207 ST', {'A'}, 'IND', '143', False] matches with TT: ['INWOOD - 207 ST', {'A'}, 'IND', 't1034116', []] in lines {'A'}
Station: ['DYCKMAN ST', {'A'}, 'IND', '144', False] matches with TT: ['DYCKMAN ST', {'A'}, 'IND', 't1034117', []] in lines {'A'}
Station: ['190 ST', {'A'}, 'IND', '145', False] matches with TT: ['190 ST', {'A'}, 'IND', 't1034118', []] in lines {'A'}
Station: ['181 ST', {'A'}, 'IND', '146', False] matches with TT: ['181 ST', {'A'}, 'IND', 't1034119', []] in lines {'A'}
Station: ['175 ST', {'A'}, 'IND', '147', False] matches with TT: ['175 ST', {'A'}, 'IND', 't1034120', []] in lines {'A'}
Station: ['168 ST', {'C', 'A'}, 'IND', '148', False] matches with TT: ['168 ST', {'C', 'A', '1'}, 'IND', 't1040121', []] in lines {'C', 'A'}
Station: ['155 ST', {'C'}, 'IND', '150', False] matches with TT: ['155 ST', {'C'}, 'IND', 't1041123', []] in lines {'C'}
Station: ['145 ST', {'C', 'A'}, 'IND', '151', False] matches with TT: ['145 ST', {'C', 'A', 'B', 'D'}, 'IND', 't1042124', []] in lines {'C', 'A'}
Station: ['145 ST', {'B', 'D'}, 'IND', '151', False] matches with TT: ['145 ST', {'C', 'A', 'B', 'D'}, 'IND', 't1042124', ['151']] in lines {'B', 'D'}
Station: ['135 ST', {'C', 'B'}, 'IND', '152', False] matches with TT: ['135 ST', {'C', 'B'}, 'IND', 't1043125', []] in lines {'C', 'B'}
Station: ['125 ST', {'C', 'A', 'B', 'D'}, 'IND', '153', False] matches with TT: ['125 ST', {'C', 'A', 'B', 'D'}, 'IND', 't1044126', []] in lines {'C', 'A', 'B', 'D'}
Station: ['116 ST', {'C', 'B'}, 'IND', '154', False] matches with TT: ['116 ST', {'C', 'B'}, 'IND', 't1043127', []] in lines {'C', 'B'}
Station: ['103 ST', {'C', 'B'}, 'IND', '156', False] matches with TT: ['103 ST', {'C', 'B'}, 'IND', 't1043129', []] in lines {'C', 'B'}
Station: ['96 ST', {'C', 'B'}, 'IND', '157', False] matches with TT: ['96 ST', {'C', 'B'}, 'IND', 't1043130', []] in lines {'C', 'B'}
Station: ['86 ST', {'C', 'B'}, 'IND', '158', False] matches with TT: ['86 ST', {'C', 'B'}, 'IND', 't1043052', []] in lines {'C', 'B'}
Station: ['72 ST', {'C', 'B'}, 'IND', '160', False] matches with TT: ['72 ST', {'C', 'B'}, 'IND', 't1043132', []] in lines {'C', 'B'}
Station: ['50 ST', {'C', 'E'}, 'IND', '162', False] matches with TT: ['50 ST', {'C', 'E'}, 'IND', 't1046061', []] in lines {'C', 'E'}
Station: ['23 ST', {'C', 'E'}, 'IND', '165', False] matches with TT: ['23 ST', {'C', 'E'}, 'IND', 't1046007', []] in lines {'C', 'E'}
Station: ['14 ST', {'C', 'A', 'E'}, 'IND', '166', False] matches with TT: ['14 ST', {'C', 'A', 'L', 'E'}, 'IND', 't1029136', []] in lines {'C', 'A', 'E'}
Station: ['SPRING ST', {'C', 'E'}, 'IND', '168', False] matches with TT: ['SPRING ST', {'C', 'E'}, 'IND', 't1046138', []] in lines {'C', 'E'}
Station: ['CANAL ST', {'C', 'A', 'E'}, 'IND', '169', False] matches with TT: ['CANAL ST', {'C', 'A', 'E'}, 'IND', 't1048011', []] in lines {'C', 'A', 'E'}
Station: ['CHAMBERS ST', {'C', 'A'}, 'IND', '170', False] matches with TT: ['CHAMBERS ST', {'C', 'A', '2', 'E', '3'}, 'IND', 't1050018', []] in lines {'C', 'A'}
Station: ['FULTON ST', {'C', 'A'}, 'IND', '172', False] matches with TT: ['FULTON ST', {'C', 'A', '2', 'Z', '4', 'J', '5', '3'}, 'BMT', 't0012019', ['106']] in lines {'C', 'A'}
Station: ['FULTON ST', {'C', 'A'}, 'IND', '172', True] matches with TT: ['FULTON ST', {'C', 'A', '2', 'Z', '4', 'J', '5', '3'}, 'IND', 't1012019', ['106']] in lines {'C', 'A'}
Station: ['FULTON ST', {'C', 'A'}, 'IND', '172', True] matches with TT: ['FULTON ST', {'2', 'A', 'C', 'Z', '4', 'J', '5', '3'}, 'IND', 't1051019', ['106']] in lines {'C', 'A'}
Station: ['FULTON ST', {'C', 'A'}, 'IND', '172', True] matches with TT: ['FULTON ST', {'2', 'A', 'C', 'Z', '4', 'J', '5', '3'}, 'IRT', 't3051019', ['106']] in lines {'C', 'A'}
Station: ['155 ST', {'B', 'D'}, 'IND', '220', False] matches with TT: ['155 ST', {'B', 'D'}, 'IND', 't1058123', []] in lines {'B', 'D'}
Station: ['57 ST', {'F'}, 'IND', '224', False] matches with TT: ['57 ST', {'F'}, 'IND', 't1069229', []] in lines {'F'}
Station: ['42 ST - BRYANT PK', {'B', 'F', 'M', 'D'}, 'IND', '226', False] matches with TT: ['42 ST - BRYANT PK', {'B', 'F', '7', 'M', 'D'}, 'IND', 't1073213', []] in lines {'B', 'F', 'M', 'D'}
Station: ['34 ST - HERALD SQ', {'B', 'F', 'M', 'D'}, 'IND', '227', False] matches with TT: ['34 ST - HERALD SQ', {'R', 'B', 'F', 'Q', 'M', 'W', 'N', 'D'}, 'BMT', 't0003005', ['12']] in lines {'B', 'F', 'M', 'D'}
Station: ['34 ST - HERALD SQ', {'B', 'F', 'M', 'D'}, 'IND', '227', True] matches with TT: ['34 ST - HERALD SQ', {'R', 'B', 'F', 'Q', 'M', 'W', 'N', 'D'}, 'IND', 't1003005', ['12']] in lines {'B', 'F', 'M', 'D'}
Station: ['23 ST', {'F', 'M'}, 'IND', '228', False] matches with TT: ['23 ST', {'F', 'M'}, 'IND', 't1074007', []] in lines {'F', 'M'}
Station: ['14 ST', {'F', 'M'}, 'IND', '229', False] matches with TT: ['14 ST', {'2', 'L', '1', 'F', 'M', '3'}, 'IND', 't1030136', []] in lines {'F', 'M'}
Station: ['14 ST', {'F', 'M'}, 'IND', '229', True] matches with TT: ['14 ST', {'2', 'L', '1', 'F', 'M', '3'}, 'IRT', 't3083136', []] in lines {'F', 'M'}
Station: ['GRAND ST', {'B', 'D'}, 'IND', '231', False] matches with TT: ['GRAND ST', {'B', 'D'}, 'IND', 't1058075', []] in lines {'B', 'D'}
Station: ['2 AV', {'F'}, 'IND', '232', False] matches with TT: ['2 AV', {'F'}, 'IND', 't1069215', []] in lines {'F'}
Station: ['EAST BROADWAY', {'F'}, 'IND', '234', False] matches with TT: ['EAST BROADWAY', {'F'}, 'IND', 't1069216', []] in lines {'F'}
Station: ['5 AV/53 ST', {'M', 'E'}, 'IND', '276', False] matches with TT: ['5 AV/53 ST', {'M', 'E'}, 'IND', 't1061183', []] in lines {'M', 'E'}
Station: ['7 AV', {'B', 'D', 'E'}, 'IND', '277', False] matches with TT: ['7 AV', {'B', 'D', 'E'}, 'IND', 't1060021', []] in lines {'B', 'D', 'E'}
Station: ['215 ST', {'1'}, 'IRT', '297', False] matches with TT: ['215 ST', {'1'}, 'IRT', 't3078270', []] in lines {'1'}
Station: ['207 ST', {'1'}, 'IRT', '298', False] matches with TT: ['207 ST', {'1'}, 'IRT', 't3078269', []] in lines {'1'}
Station: ['DYCKMAN ST', {'1'}, 'IRT', '299', False] matches with TT: ['DYCKMAN ST', {'1'}, 'IRT', 't3078117', []] in lines {'1'}
Station: ['191 ST', {'1'}, 'IRT', '300', False] matches with TT: ['191 ST', {'1'}, 'IRT', 't3078268', []] in lines {'1'}
Station: ['181 ST', {'1'}, 'IRT', '301', False] matches with TT: ['181 ST', {'1'}, 'IRT', 't3078119', []] in lines {'1'}
Station: ['157 ST', {'1'}, 'IRT', '303', False] matches with TT: ['157 ST', {'1'}, 'IRT', 't3078267', []] in lines {'1'}
Station: ['145 ST', {'1'}, 'IRT', '304', False] matches with TT: ['145 ST', {'1'}, 'IRT', 't3078124', []] in lines {'1'}
Station: ['125 ST', {'1'}, 'IRT', '306', False] matches with TT: ['125 ST', {'1'}, 'IRT', 't3078126', []] in lines {'1'}
Station: ['CATHEDRAL PKWY', {'1'}, 'IRT', '308', False] matches with TT: ['CATHEDRAL PKWY', {'1'}, 'IRT', 't3078128', []] in lines {'1'}
Station: ['103 ST', {'1'}, 'IRT', '309', False] matches with TT: ['103 ST', {'1'}, 'IRT', 't3078129', []] in lines {'1'}
Station: ['96 ST', {'1', '3', '2'}, 'IRT', '310', False] matches with TT: ['96 ST', {'1', '3', '2'}, 'IRT', 't3082130', []] in lines {'1', '3', '2'}
Station: ['86 ST', {'1'}, 'IRT', '311', False] matches with TT: ['86 ST', {'1'}, 'IRT', 't3078052', []] in lines {'1'}
Station: ['79 ST', {'1'}, 'IRT', '312', False] matches with TT: ['79 ST', {'1'}, 'IRT', 't3078064', []] in lines {'1'}
Station: ['72 ST', {'1', '3', '2'}, 'IRT', '313', False] matches with TT: ['72 ST', {'1', '3', '2'}, 'IRT', 't3082132', []] in lines {'1', '3', '2'}
Station: ['50 ST', {'1'}, 'IRT', '316', False] matches with TT: ['50 ST', {'1'}, 'IRT', 't3078061', []] in lines {'1'}
Station: ['TIMES SQ - 42 ST', {'1', '3', '2'}, 'IRT', '317', False] matches with TT: ['TIMES SQ - 42 ST', {'C', 'A', '2', 'R', '1', 'Q', '7', 'W', 'S', 'N', 'E', '3'}, 'BMT', 't0002004', ['11']] in lines {'1', '3', '2'}
Station: ['TIMES SQ - 42 ST', {'1', '3', '2'}, 'IRT', '317', True] matches with TT: ['TIMES SQ - 42 ST', {'2', 'A', 'C', 'R', '1', '7', 'Q', 'W', 'S', 'N', 'E', '3'}, 'IRT', 't3085004', ['11']] in lines {'1', '3', '2'}
Station: ['TIMES SQ - 42 ST', {'1', '3', '2'}, 'IRT', '317', True] matches with TT: ['TIMES SQ - 42 ST', {'2', 'A', 'C', 'R', '1', '7', 'Q', 'S', 'N', 'E', '3'}, 'IRT', 't3086004', []] in lines {'1', '3', '2'}
Station: ['28 ST', {'1'}, 'IRT', '319', False] matches with TT: ['28 ST', {'1'}, 'IRT', 't3078006', []] in lines {'1'}
Station: ['23 ST', {'1'}, 'IRT', '320', False] matches with TT: ['23 ST', {'1'}, 'IRT', 't3078007', []] in lines {'1'}
Station: ['18 ST', {'1'}, 'IRT', '321', False] matches with TT: ['18 ST', {'1'}, 'IRT', 't3078263', []] in lines {'1'}
Station: ['14 ST', {'1', '3', '2'}, 'IRT', '322', False] matches with TT: ['14 ST', {'2', 'L', '1', 'F', 'M', '3'}, 'IND', 't1030136', ['229']] in lines {'1', '3', '2'}
Station: ['14 ST', {'1', '3', '2'}, 'IRT', '322', True] matches with TT: ['14 ST', {'2', 'L', '1', 'F', 'M', '3'}, 'IRT', 't3083136', ['229']] in lines {'1', '3', '2'}
Station: ['HOUSTON ST', {'1'}, 'IRT', '324', False] matches with TT: ['HOUSTON ST', {'1'}, 'IRT', 't3078262', []] in lines {'1'}
Station: ['CANAL ST', {'1'}, 'IRT', '325', False] matches with TT: ['CANAL ST', {'1'}, 'IRT', 't3078011', []] in lines {'1'}
Station: ['FRANKLIN ST', {'1'}, 'IRT', '326', False] matches with TT: ['FRANKLIN ST', {'1'}, 'IRT', 't3078261', []] in lines {'1'}
Station: ['CHAMBERS ST', {'1', '3', '2'}, 'IRT', '327', False] matches with TT: ['CHAMBERS ST', {'1', '3', '2'}, 'IRT', 't3082018', []] in lines {'1', '3', '2'}
Station: ['RECTOR ST', {'1'}, 'IRT', '329', False] matches with TT: ['RECTOR ST', {'1'}, 'IRT', 't3078014', []] in lines {'1'}
Station: ['SOUTH FERRY', {'1'}, 'IRT', '330', False] matches with TT: ['SOUTH FERRY', {'1', 'R', 'W'}, 'IRT', 't3079258', []] in lines {'1'}
Station: ['FULTON ST', {'2', '3'}, 'IRT', '332', False] matches with TT: ['FULTON ST', {'C', 'A', '2', 'Z', '4', 'J', '5', '3'}, 'BMT', 't0012019', ['106', '172']] in lines {'2', '3'}
Station: ['FULTON ST', {'2', '3'}, 'IRT', '332', True] matches with TT: ['FULTON ST', {'C', 'A', '2', 'Z', '4', 'J', '5', '3'}, 'IND', 't1012019', ['106', '172']] in lines {'2', '3'}
Station: ['FULTON ST', {'2', '3'}, 'IRT', '332', True] matches with TT: ['FULTON ST', {'2', 'A', 'C', 'Z', '4', 'J', '5', '3'}, 'IND', 't1051019', ['106', '172']] in lines {'2', '3'}
Station: ['FULTON ST', {'2', '3'}, 'IRT', '332', True] matches with TT: ['FULTON ST', {'2', 'A', 'C', 'Z', '4', 'J', '5', '3'}, 'IRT', 't3051019', ['106', '172']] in lines {'2', '3'}
Station: ['WALL ST', {'2', '3'}, 'IRT', '333', False] matches with TT: ['WALL ST', {'2', '3'}, 'IRT', 't3080260', []] in lines {'2', '3'}
Station: ['125 ST', {'4', '6', '5'}, 'IRT', '392', False] matches with TT: ['125 ST', {'4', '6', '5'}, 'IRT', 't3095126', []] in lines {'4', '6', '5'}
Station: ['116 ST', {'6'}, 'IRT', '393', False] matches with TT: ['116 ST', {'6'}, 'IRT', 't3090127', []] in lines {'6'}
Station: ['110 ST', {'6'}, 'IRT', '394', False] matches with TT: ['110 ST', {'6'}, 'IRT', 't3090283', []] in lines {'6'}
Station: ['103 ST', {'6'}, 'IRT', '395', False] matches with TT: ['103 ST', {'6'}, 'IRT', 't3090129', []] in lines {'6'}
Station: ['96 ST', {'6'}, 'IRT', '396', False] matches with TT: ['96 ST', {'6'}, 'IRT', 't3090130', []] in lines {'6'}

Station: ['86 ST', {'4', '6', '5'}, 'IRT', '397', False] matches with TT: ['86 ST', {'4', '6', '5'}, 'IRT', 't3095052', []] in lines {'4', '6', '5'}
Station: ['77 ST', {'6'}, 'IRT', '398', False] matches with TT: ['77 ST', {'6'}, 'IRT', 't3090051', []] in lines {'6'}
Station: ['59 ST', {'4', '6', '5'}, 'IRT', '400', False] matches with TT: ['59 ST', {'R', '4', 'Q', 'W', 'N', '5', '6'}, 'BMT', 't0000000', []] in lines {'4', '6', '5'}
Station: ['59 ST', {'4', '6', '5'}, 'IRT', '400', True] matches with TT: ['59 ST', {'R', '4', 'Q', 'W', 'N', '5', '6'}, 'IRT', 't3094000', []] in lines {'4', '6', '5'}
Station: ['51 ST', {'6'}, 'IRT', '401', False] matches with TT: ['51 ST', {'6'}, 'IRT', 't3090281', []] in lines {'6'}
Station: ['33 ST', {'6'}, 'IRT', '403', False] matches with TT: ['33 ST', {'6'}, 'IRT', 't3090279', []] in lines {'6'}
Station: ['28 ST', {'6'}, 'IRT', '404', False] matches with TT: ['28 ST', {'6'}, 'IRT', 't3090006', []] in lines {'6'}
Station: ['23 ST', {'6'}, 'IRT', '405', False] matches with TT: ['23 ST', {'6'}, 'IRT', 't3090007', []] in lines {'6'}
Station: ['14 ST - UNION SQ', {'4', '6', '5'}, 'IRT', '406', False] matches with TT: ['14 ST - UNION SQ', {'R', 'L', '4', 'Q', 'W', 'N', '5', '6'}, 'BMT', 't0005008', ['15']] in lines {'4', '6', '5'}
Station: ['14 ST - UNION SQ', {'4', '6', '5'}, 'IRT', '406', True] matches with TT: ['14 ST - UNION SQ', {'R', 'L', '4', 'Q', 'W', 'N', '5', '6'}, 'IRT', 't3092008', ['15']] in lines {'4', '6', '5'}
Station: ['ASTOR PL', {'6'}, 'IRT', '407', False] matches with TT: ['ASTOR PL', {'6'}, 'IRT', 't3090278', []] in lines {'6'}
Station: ['BLEECKER ST', {'6'}, 'IRT', '408', False] matches with TT: ['BLEECKER ST', {'F', '6', 'D'}, 'IRT', 't3091277', []] in lines {'6'}
Station: ['SPRING ST', {'6'}, 'IRT', '409', False] matches with TT: ['SPRING ST', {'6'}, 'IRT', 't3090138', []] in lines {'6'}
Station: ['CANAL ST', {'6'}, 'IRT', '410', False] matches with TT: ['CANAL ST', {'R', 'Z', 'Q', 'W', 'J', 'N', '6'}, 'BMT', 't0006011', ['18', '19', '104']] in lines {'6'}
Station: ['FULTON ST', {'4', '5'}, 'IRT', '412', False] matches with TT: ['FULTON ST', {'C', 'A', '2', 'Z', '4', 'J', '5', '3'}, 'BMT', 't0012019', ['106', '172', '332']] in lines {'4', '5'}
Station: ['FULTON ST', {'4', '5'}, 'IRT', '412', True] matches with TT: ['FULTON ST', {'C', 'A', '2', 'Z', '4', 'J', '5', '3'}, 'IND', 't1012019', ['106', '172', '332']] in lines {'4', '5'}
Station: ['FULTON ST', {'4', '5'}, 'IRT', '412', True] matches with TT: ['FULTON ST', {'2', 'A', 'C', 'Z', '4', 'J', '5', '3'}, 'IND', 't1051019', ['106', '172', '332']] in lines {'4', '5'}
Station: ['FULTON ST', {'4', '5'}, 'IRT', '412', True] matches with TT: ['FULTON ST', {'2', 'A', 'C', 'Z', '4', 'J', '5', '3'}, 'IRT', 't3051019', ['106', '172', '332']] in lines {'4', '5'}
Station: ['WALL ST', {'4', '5'}, 'IRT', '413', False] matches with TT: ['WALL ST', {'4', '5'}, 'IRT', 't3088260', []] in lines {'4', '5'}
Station: ['BOWLING GREEN', {'4', '5'}, 'IRT', '414', False] matches with TT: ['BOWLING GREEN', {'4', '5'}, 'IRT', 't3088275', []] in lines {'4', '5'}
Station: ['145 ST', {'3'}, 'IRT', '437', False] matches with TT: ['145 ST', {'3'}, 'IRT', 't3099124', []] in lines {'3'}
Station: ['135 ST', {'2', '3'}, 'IRT', '438', False] matches with TT: ['135 ST', {'2', '3'}, 'IRT', 't3080125', []] in lines {'2', '3'}
Station: ['125 ST', {'2', '3'}, 'IRT', '439', False] matches with TT: ['125 ST', {'2', '3'}, 'IRT', 't3080126', []] in lines {'2', '3'}
Station: ['116 ST', {'2', '3'}, 'IRT', '440', False] matches with TT: ['116 ST', {'2', '3'}, 'IRT', 't3080127', []] in lines {'2', '3'}
Station: ['TIMES SQ - 42 ST', {'7'}, 'IRT', '467', False] matches with TT: ['TIMES SQ - 42 ST', {'C', 'A', '2', 'R', '1', 'Q', '7', 'W', 'S', 'N', 'E', '3'}, 'BMT', 't0002004', ['11', '317']] in lines {'7'}
Station: ['TIMES SQ - 42 ST', {'7'}, 'IRT', '467', True] matches with TT: ['TIMES SQ - 42 ST', {'2', 'A', 'C', 'R', '1', '7', 'Q', 'W', 'S', 'N', 'E', '3'}, 'IRT', 't3085004', ['11', '317']] in lines {'7'}
Station: ['TIMES SQ - 42 ST', {'7'}, 'IRT', '467', True] matches with TT: ['TIMES SQ - 42 ST', {'2', 'A', 'C', 'R', '1', '7', 'Q', 'S', 'N', 'E', '3'}, 'IRT', 't3086004', ['317']] in lines {'7'}
Station: ['TIMES SQ - 42 ST', {'S'}, 'IRT', '468', False] matches with TT: ['TIMES SQ - 42 ST', {'C', 'A', '2', 'R', '1', 'Q', '7', 'W', 'S', 'N', 'E', '3'}, 'BMT', 't0002004', ['11', '317', '467']] in lines {'S'}
Station: ['TIMES SQ - 42 ST', {'S'}, 'IRT', '468', True] matches with TT: ['TIMES SQ - 42 ST', {'2', 'A', 'C', 'R', '1', '7', 'Q', 'W', 'S', 'N', 'E', '3'}, 'IRT', 't3085004', ['11', '317', '467']] in lines {'S'}
Station: ['TIMES SQ - 42 ST', {'S'}, 'IRT', '468', True] matches with TT: ['TIMES SQ - 42 ST', {'2', 'A', 'C', 'R', '1', '7', 'Q', 'S', 'N', 'E', '3'}, 'IRT', 't3086004', ['317', '467']] in lines {'S'}

In [28]:
len(dict_stations)

108

In [29]:
df_station_list['Matched'].value_counts()

True     112
False     41
Name: Matched, dtype: int64

It matched 112 stations by using the exact name search. Let's examine the unmatched cases.

In [30]:
df_station_list[~df_station_list['Matched']].head()

                  Station     Routes Division Station ID  Matched
0      LEXINGTON AV/59 ST  {N, R, W}      BMT          7    False
16           WHITEHALL ST     {R, W}      BMT         23    False
17               ESSEX ST  {J, M, Z}      BMT        102    False
25       UNION SQ - 14 ST        {L}      BMT        117    False
34  163 ST - AMSTERDAM AV        {C}      IND        149    False

We need to manually find those unrecognized stations in the turntile data. The main reasons of failed matches include the format mismatch, different abbreviation, order of words, etc. Since there are only 41 of such items, a manual correction is feasible. That is part of the job for data science projects.

Here is an example of treating one case.

In [31]:
df_station_manual = df_station_list[~df_station_list['Matched']]
station_index = df_station_manual.index
iterId = 0
if iterId < len(station_index):
    print(f'Working on #{iterId} unmatched record with index: {station_index[iterId]}')
    print(f'The station name: {df_station_manual.iloc[iterId].Station}, routes: {df_station_manual.iloc[iterId].Routes}, div: {df_station_manual.iloc[iterId].Division}, Station ID: {df_station_manual.iloc[iterId]["Station ID"]}')

Working on #0 unmatched record with index: 0
The station name: LEXINGTON AV/59 ST, routes: {'N', 'R', 'W'}, div: BMT, Station ID: 7

In [32]:
#df_station_manual["Station ID"].T.tolist()

In [33]:
# Check the unmatched station one after another and save the result into the manually input dictionary
keyword2search = 'LEXINGTON'
df_tt_list[df_tt_list['Station'].str.contains(keyword2search)]

             Station     Routes Division STATION_IDX Geo_ID
209  LEXINGTON AV/53  {6, M, E}      IND    t1062184     []
273  LEXINGTON AV/63        {F}      IND    t1069230     []

In the turnstile data, there is no station with the name of "LEXINGTON AV/59 ST". Using the first keyword "LEXINGTON", it returns nothing. Then, try another keyword "59".

In [34]:
keyword2search = '59'
df_tt_list[df_tt_list['Station'].str.contains(keyword2search)]

            Station                 Routes Division STATION_IDX Geo_ID
0             59 ST  {R, 4, Q, W, N, 5, 6}      BMT    t0000000  [400]
1        5 AV/59 ST           {N, Q, R, W}      BMT    t0001001    [8]
50            59 ST              {N, R, W}      BMT    t0004000     []
146  59 ST COLUMBUS        {C, A, 1, B, D}      IND    t1045133     []
321  59 ST COLUMBUS        {C, A, 1, B, D}      IRT    t3087133     []
355           59 ST  {R, 4, Q, W, N, 5, 6}      IRT    t3094000  [400]

By using another keyword "59", I can find a number of stations in which the third items in the list.

Here, I need to map the "STATION_IDX" value, i.e., "t0004000" in the turntile data to the "Station ID" value, i.e., "7", in the geolocation data.

I saved these manually identified pairs in a file, 'manual_map.txt'.

In [35]:
# To facilitate the following processing, I further process the manually rendered mapping information and save the pairs into a csv file.
df_manual_match = pd.read_csv('manual_map.txt', skipinitialspace=True)

headers = ["turntile.station", "turntile.routes", "turntile.station_id", "geo.station", "geo.routes", "geo.station_id"]
rows2write = []
rows2write.append(headers)

for i in range(df_manual_match.shape[0]):
    geo_id = df_manual_match.at[i, "station_df_id"]
    index_tt = df_manual_match.at[i, "tt_df_id"]
    print('\n')
    print(f'Manually input station-geo pair #{i}')
    print(f'Turntile Station {df_tt_list.at[index_tt, "Station"]} w/ Routes: {df_tt_list.at[index_tt, "Routes"]}, Station ID: {df_tt_list.at[index_tt, "STATION_IDX"]}')
    print(f'Geo: {df_station_list.at[geo_id-1, "Station"]} w/ Routes: {df_station_list.at[geo_id-1, "Routes"]}')
    row = [df_tt_list.at[index_tt, "Station"], df_tt_list.at[index_tt, "Routes"], str(df_tt_list.at[index_tt, "STATION_IDX"]), \
          df_station_list.at[geo_id-1, "Station"], df_station_list.at[geo_id-1, "Routes"], str(df_station_list.at[geo_id-1, "Station ID"])]
    rows2write.append(row)

import csv
wrCSVfilename = 'turntile_station_map.csv'

with open(wrCSVfilename, mode='a', newline='') as rtd_file:
    csv_writer = csv.writer(rtd_file, delimiter=',', quotechar='"', quoting=csv.QUOTE_MINIMAL)
    for i in rows2write:
        #print(i[cols['frame_number']],i[cols['msgCopy']])
        csv_writer.writerow(i)
print('Writing Done!')

Manually input station-geo pair #0
Turntile Station 59 ST w/ Routes: {'N', 'R', 'W'}, Station ID: t0004000
Geo: LEXINGTON AV/59 ST w/ Routes: {'N', 'R', 'W'}


Manually input station-geo pair #1
Turntile Station WHITEHALL S - FRY w/ Routes: {'1', 'R', 'W'}, Station ID: t0008015
Geo: WHITEHALL ST w/ Routes: {'R', 'W'}


Manually input station-geo pair #2
Turntile Station DELANCEY/ESSEX w/ Routes: {'J', 'F', 'M', 'Z'}, Station ID: t0009016
Geo: ESSEX ST w/ Routes: {'J', 'M', 'Z'}


Manually input station-geo pair #3
Turntile Station 14 ST - UNION SQ w/ Routes: {'R', 'L', '4', 'Q', 'W', 'N', '5', '6'}, Station ID: t0005008
Geo: UNION SQ - 14 ST w/ Routes: {'L'}


Manually input station-geo pair #4
Turntile Station 163 ST - AMSTERDM w/ Routes: {'C'}, Station ID: t1041122
Geo: 163 ST - AMSTERDAM AV w/ Routes: {'C'}


Manually input station-geo pair #5
Turntile Station CATHEDRAL PKWY w/ Routes: {'C', 'B'}, Station ID: t1043128
Geo: CATHEDRAL PKWY (110 ST) w/ Routes: {'C', 'B'}


Manually input station-geo pair #6
Turntile Station 81 ST - MUSEUM w/ Routes: {'C', 'B'}, Station ID: t1043131
Geo: 81 ST - MUSEUM OF NATURAL HISTORY w/ Routes: {'C', 'B'}


Manually input station-geo pair #7
Turntile Station 59 ST COLUMBUS w/ Routes: {'C', 'A', '1', 'B', 'D'}, Station ID: t1045133
Geo: 59 ST - COLUMBUS CIRCLE w/ Routes: {'C', 'A', 'B', 'D'}


Manually input station-geo pair #8
Turntile Station 42 ST - PORT AUTH w/ Routes: {'C', 'A', '2', 'R', '1', '7', 'W', 'S', 'N', 'E', '3', 'G'}, Station ID: t1047134
Geo: 42 ST - PORT AUTHORITY BUS TERMINAL w/ Routes: {'C', 'A', 'E'}


Manually input station-geo pair #9
Turntile Station 42 ST - PORT AUTH w/ Routes: {'C', 'A', '2', 'R', '1', 'Q', '7', 'W', 'S', 'N', 'E', '3'}, Station ID: t1002134
Geo: 42 ST - PORT AUTHORITY BUS TERMINAL w/ Routes: {'C', 'A', 'E'}


Manually input station-geo pair #10
Turntile Station 34 ST - PENN STA w/ Routes: {'C', 'A', 'E'}, Station ID: t1048135
Geo: 34 ST - PENN STATION w/ Routes: {'C', 'A', 'E'}


Manually input station-geo pair #11
Turntile Station W 4 ST - WASH SQ w/ Routes: {'C', 'A', 'B', 'F', 'M', 'D', 'E'}, Station ID: t1049137
Geo: W 4 ST w/ Routes: {'C', 'A', 'E'}


Manually input station-geo pair #12
Turntile Station W 4 ST - WASH SQ w/ Routes: {'C', 'A', 'B', 'F', 'M', 'D', 'E'}, Station ID: t1049137
Geo: W 4 ST w/ Routes: {'B', 'F', 'M', 'D'}


Manually input station-geo pair #13
Turntile Station WORLD TRADE CTR w/ Routes: {'C', 'A', '2', 'E', '3'}, Station ID: t1050139
Geo: WORLD TRADE CENTER w/ Routes: {'E'}


Manually input station-geo pair #14
Turntile Station ROOSEVELT ISLND w/ Routes: {'F'}, Station ID: t1069231
Geo: ROOSEVELT ISLAND w/ Routes: {'F'}


Manually input station-geo pair #15
Turntile Station LEXINGTON AV/63 w/ Routes: {'F'}, Station ID: t1069230
Geo: LEXINGTON AV/63 ST w/ Routes: {'F', 'Q'}


Manually input station-geo pair #16
Turntile Station 47 - 50 STS ROCK w/ Routes: {'B', 'F', 'M', 'D'}, Station ID: t1072212
Geo: 47-50 STS - ROCKEFELLER CTR w/ Routes: {'B', 'F', 'M', 'D'}


Manually input station-geo pair #17
Turntile Station B'WAY - LAFAYETTE w/ Routes: {'B', 'F', 'Q', 'D', '6'}, Station ID: t1075214
Geo: BROADWAY-LAFAYETTE ST w/ Routes: {'B', 'F', 'M', 'D'}


Manually input station-geo pair #18
Turntile Station DELANCEY/ESSEX w/ Routes: {'J', 'F', 'M', 'Z'}, Station ID: t1009016
Geo: DELANCEY ST w/ Routes: {'F'}


Manually input station-geo pair #19
Turntile Station LEXINGTON AV/53 w/ Routes: {'6', 'M', 'E'}, Station ID: t1062184
Geo: LEXINGTON AV/53 ST w/ Routes: {'M', 'E'}


Manually input station-geo pair #20
Turntile Station MARBLE HILL - 225 w/ Routes: {'1'}, Station ID: t3078271
Geo: MARBLE HILL - 225 ST w/ Routes: {'1'}


Manually input station-geo pair #21
Turntile Station 168 ST w/ Routes: {'C', 'A', '1'}, Station ID: t1040121
Geo: 168 ST - WASHINGTON HTS w/ Routes: {'1'}


Manually input station-geo pair #22
Turntile Station 137 ST CITY COL w/ Routes: {'1'}, Station ID: t3078266
Geo: 137 ST - CITY COLLEGE w/ Routes: {'1'}


Manually input station-geo pair #23
Turntile Station 116 ST - COLUMBIA w/ Routes: {'1'}, Station ID: t3078265
Geo: 116 ST - COLUMBIA UNIVERSITY w/ Routes: {'1'}


Manually input station-geo pair #24
Turntile Station 66 ST - LINCOLN w/ Routes: {'1'}, Station ID: t3078264
Geo: 66 ST - LINCOLN CENTER w/ Routes: {'1'}


Manually input station-geo pair #25
Turntile Station 59 ST COLUMBUS w/ Routes: {'C', 'A', '1', 'B', 'D'}, Station ID: t3087133
Geo: 59 ST - COLUMBUS CIRCLE w/ Routes: {'1'}


Manually input station-geo pair #26
Turntile Station 34 ST - PENN STA w/ Routes: {'1', '3', '2'}, Station ID: t3082135
Geo: 34 ST - PENN STATION w/ Routes: {'1', '3', '2'}


Manually input station-geo pair #27
Turntile Station CHRISTOPHER ST w/ Routes: {'1'}, Station ID: t3078246
Geo: CHRISTOPHER ST - SHERIDAN SQ w/ Routes: {'1'}


Manually input station-geo pair #28
Turntile Station WTC - CORTLANDT w/ Routes: {'1'}, Station ID: t3078259
Geo: WTC CORTLANDT w/ Routes: {'1'}


Manually input station-geo pair #29
Turntile Station PARK PLACE w/ Routes: {'2', 'A', 'C', 'E', '3'}, Station ID: t3081022
Geo: PARK PL w/ Routes: {'2', '3'}


Manually input station-geo pair #30
Turntile Station 68ST - HUNTER CO w/ Routes: {'6'}, Station ID: t3090282
Geo: 68 ST - HUNTER COLLEGE w/ Routes: {'6'}


Manually input station-geo pair #31
Turntile Station GRD CNTRL - 42 ST w/ Routes: {'4', '7', 'S', '5', '6'}, Station ID: t3093280
Geo: GRAND CENTRAL - 42 ST w/ Routes: {'4', '6', '5'}


Manually input station-geo pair #32
Turntile Station BROOKLYN BRIDGE w/ Routes: {'Z', '4', 'J', '5', '6'}, Station ID: t3089276
Geo: BROOKLYN BRIDGE - CITY HALL w/ Routes: {'4', '6', '5'}


Manually input station-geo pair #33
Turntile Station HARLEM 148 ST w/ Routes: {'3'}, Station ID: t3099293
Geo: HARLEM - 148 ST w/ Routes: {'3'}


Manually input station-geo pair #34
Turntile Station CENTRAL PK N110 w/ Routes: {'2', '3'}, Station ID: t3080292
Geo: CENTRAL PARK NORTH (110 ST) w/ Routes: {'2', '3'}


Manually input station-geo pair #35
Turntile Station GRD CNTRL - 42 ST w/ Routes: {'4', '7', 'S', '5', '6'}, Station ID: t3093280
Geo: GRAND CENTRAL - 42 ST w/ Routes: {'7'}


Manually input station-geo pair #36
Turntile Station 5 AVE w/ Routes: {'B', 'F', '7', 'M', 'D'}, Station ID: t3102330
Geo: 5 AV w/ Routes: {'7'}


Manually input station-geo pair #37
Turntile Station GRD CNTRL - 42 ST w/ Routes: {'4', '7', 'S', '5', '6'}, Station ID: t3093280
Geo: GRAND CENTRAL - 42 ST w/ Routes: {'S'}


Manually input station-geo pair #38
Turntile Station 34 ST - HUDSON YD w/ Routes: {'7'}, Station ID: t3103351
Geo: 34 ST - 11 AV w/ Routes: {'7'}


Manually input station-geo pair #39
Turntile Station 96 ST - 2 AVE w/ Routes: {'Q'}, Station ID: t1017238
Geo: 96 ST w/ Routes: {'Q'}


Manually input station-geo pair #40
Turntile Station 86 ST - 2 AVE w/ Routes: {'Q'}, Station ID: t1017237
Geo: 86 ST w/ Routes: {'Q'}


Manually input station-geo pair #41
Turntile Station 72 ST - 2 AVE w/ Routes: {'Q'}, Station ID: t1017236
Geo: 72 ST w/ Routes: {'Q'}
Writing Done!

In [36]:
df_manual_map = pd.read_csv('turntile_station_map.csv')
df_manual_map.head()
df_manual_map.shape

Next, I add these manually input station mappings into a dictionary along with the paired information obtained in the earlier automatic matching step.

In [40]:
for i in range(df_manual_map.shape[0]):
    if df_manual_map["turntile.station_id"][i] in dTest:
        dict_stations[df_manual_map["turntile.station_id"][i]].append(df_manual_map["geo.station_id"][i])
    else:
        dict_stations[df_manual_map["turntile.station_id"][i]] = [df_manual_map["geo.station_id"][i]]

In [41]:
#df_manual_map["turntile.station_id"][0]
len(dict_stations)

for i in dict_stations:
    print(f'There is a key: {i} w/ value of {dict_stations[i]}')

't0004000'

I have created a dictionary with the key:value pair of turntile_station_id:station_id. 

Next, I will use this dictionary and available information to create another dictionary to map the key of turntil_station_id to the station coordinates. As checked earlier, it is found that some station may be associated with multiple coordinates because it hosts multiple lines of services. In such a case, I will use the centroid of the point set instead.

In [44]:
df_stations.head()

,index,Station ID,Division,Stop Name,Borough,Daytime Routes,GTFS Latitude,GTFS Longitude,Search ID
0,6,7,BMT,Lexington Av/59 St,M,N W R,40.762660,-73.967258,"Lexington Av/59 St,N W R,BMT,7"
1,7,8,BMT,5 Av/59 St,M,N W R,40.764811,-73.973347,"5 Av/59 St,N W R,BMT,8"
2,8,9,BMT,57 St - 7 Av,M,N Q R W,40.764664,-73.980658,"57 St - 7 Av,N Q R W,BMT,9"
3,9,10,BMT,49 St,M,N R W,40.759901,-73.984139,"49 St,N R W,BMT,10"
4,10,11,BMT,Times Sq - 42 St,M,N Q R W,40.754672,-73.986754,"Times Sq - 42 St,N Q R W,BMT,11"

In [45]:
# dict_stations
# df_stations

from statistics import mean

dict_loc = {}

for i in dict_stations:
    lat = df_stations[df_stations["Station ID"].isin(dict_stations[i])]["GTFS Latitude"].tolist()
    lat = mean(lat)
    lat = round(lat, 6)
    long = df_stations[df_stations["Station ID"].isin(dict_stations[i])]["GTFS Longitude"].tolist()
    long = mean(long)
    long = round(long, 6)
    print(f'Station: {i} has the coordinates: ({lat}, {long})')
    dict_loc[i] = (lat, long)

Station: t0001001 has the coordinates: (40.764811, -73.973347)
Station: t0001002 has the coordinates: (40.764664, -73.980658)
Station: t0001003 has the coordinates: (40.759901, -73.984139)
Station: t0002004 has the coordinates: (40.755983, -73.986229)
Station: t3085004 has the coordinates: (40.755983, -73.986229)
Station: t0003005 has the coordinates: (40.749719, -73.987823)
Station: t1003005 has the coordinates: (40.749719, -73.987823)
Station: t0004006 has the coordinates: (40.745494, -73.988691)
Station: t0004007 has the coordinates: (40.741303, -73.989344)
Station: t0005008 has the coordinates: (40.734789, -73.99073)
Station: t3092008 has the coordinates: (40.734673, -73.989951)
Station: t0004009 has the coordinates: (40.730328, -73.992629)
Station: t0004010 has the coordinates: (40.724329, -73.997702)
Station: t0006011 has the coordinates: (40.718803, -74.000193)
Station: t0004012 has the coordinates: (40.713282, -74.006978)
Station: t0007013 has the coordinates: (40.710668, -74.011029)
Station: t0004014 has the coordinates: (40.70722, -74.013342)
Station: t0010017 has the coordinates: (40.72028, -73.993915)
Station: t0011018 has the coordinates: (40.713243, -74.003401)
Station: t0012019 has the coordinates: (40.710368, -74.009509)
Station: t1012019 has the coordinates: (40.710368, -74.009509)
Station: t1051019 has the coordinates: (40.710368, -74.009509)
Station: t3051019 has the coordinates: (40.710368, -74.009509)
Station: t0010020 has the coordinates: (40.706476, -74.011056)
Station: t0029054 has the coordinates: (40.739777, -74.002578)
Station: t0030069 has the coordinates: (40.737335, -73.996786)
Station: t0031070 has the coordinates: (40.732849, -73.986122)
Station: t0031071 has the coordinates: (40.730953, -73.981628)
Station: t1034116 has the coordinates: (40.868072, -73.919899)
Station: t1034117 has the coordinates: (40.865491, -73.927271)
Station: t1034118 has the coordinates: (40.859022, -73.93418)
Station: t1034119 has the coordinates: (40.851695, -73.937969)
Station: t1034120 has the coordinates: (40.847391, -73.939704)
Station: t1040121 has the coordinates: (40.840556, -73.940133)
Station: t1041123 has the coordinates: (40.830518, -73.941514)
Station: t1042124 has the coordinates: (40.824783, -73.944216)
Station: t1043125 has the coordinates: (40.817894, -73.947649)
Station: t1044126 has the coordinates: (40.811109, -73.952343)
Station: t1043127 has the coordinates: (40.805085, -73.954882)
Station: t1043129 has the coordinates: (40.796092, -73.961454)
Station: t1043130 has the coordinates: (40.791642, -73.964696)
Station: t1043052 has the coordinates: (40.785868, -73.968916)
Station: t1043132 has the coordinates: (40.775594, -73.97641)
Station: t1046061 has the coordinates: (40.762456, -73.985984)
Station: t1046007 has the coordinates: (40.745906, -73.998041)
Station: t1029136 has the coordinates: (40.740893, -74.00169)
Station: t1046138 has the coordinates: (40.726227, -74.003739)
Station: t1048011 has the coordinates: (40.720824, -74.005229)
Station: t1050018 has the coordinates: (40.714111, -74.008585)
Station: t1058123 has the coordinates: (40.830135, -73.938209)
Station: t1069229 has the coordinates: (40.763972, -73.97745)
Station: t1073213 has the coordinates: (40.754222, -73.984569)
Station: t1074007 has the coordinates: (40.742878, -73.992821)
Station: t1030136 has the coordinates: (40.737826, -74.000201)
Station: t3083136 has the coordinates: (40.737826, -74.000201)
Station: t1058075 has the coordinates: (40.718267, -73.993753)
Station: t1069215 has the coordinates: (40.723402, -73.989938)
Station: t1069216 has the coordinates: (40.713715, -73.990173)
Station: t1061183 has the coordinates: (40.760167, -73.975224)
Station: t1060021 has the coordinates: (40.762862, -73.981637)
Station: t3078270 has the coordinates: (40.869444, -73.915279)
Station: t3078269 has the coordinates: (40.864621, -73.918822)
Station: t3078117 has the coordinates: (40.860531, -73.925536)
Station: t3078268 has the coordinates: (40.855225, -73.929412)
Station: t3078119 has the coordinates: (40.849505, -73.933596)
Station: t3078267 has the coordinates: (40.834041, -73.94489)
Station: t3078124 has the coordinates: (40.826551, -73.95036)
Station: t3078126 has the coordinates: (40.815581, -73.958372)
Station: t3078128 has the coordinates: (40.803967, -73.966847)
Station: t3078129 has the coordinates: (40.799446, -73.968379)
Station: t3082130 has the coordinates: (40.793919, -73.972323)
Station: t3078052 has the coordinates: (40.788644, -73.976218)
Station: t3078064 has the coordinates: (40.783934, -73.979917)
Station: t3082132 has the coordinates: (40.778453, -73.98197)
Station: t3078061 has the coordinates: (40.761728, -73.983849)
Station: t3086004 has the coordinates: (40.755983, -73.986229)
Station: t3078006 has the coordinates: (40.747215, -73.993365)
Station: t3078007 has the coordinates: (40.744081, -73.995657)
Station: t3078263 has the coordinates: (40.74104, -73.997871)
Station: t3078262 has the coordinates: (40.728251, -74.005367)
Station: t3078011 has the coordinates: (40.722854, -74.006277)
Station: t3078261 has the coordinates: (40.719318, -74.006886)
Station: t3082018 has the coordinates: (40.715478, -74.009266)
Station: t3078014 has the coordinates: (40.707513, -74.013783)
Station: t3079258 has the coordinates: (40.702068, -74.013664)
Station: t3080260 has the coordinates: (40.706821, -74.0091)
Station: t3095126 has the coordinates: (40.804138, -73.937594)
Station: t3090127 has the coordinates: (40.798629, -73.941617)
Station: t3090283 has the coordinates: (40.79502, -73.94425)
Station: t3090129 has the coordinates: (40.7906, -73.947478)
Station: t3090130 has the coordinates: (40.785672, -73.95107)
Station: t3095052 has the coordinates: (40.779492, -73.955589)
Station: t3090051 has the coordinates: (40.77362, -73.959874)
Station: t0000000 has the coordinates: (40.762526, -73.967967)
Station: t3094000 has the coordinates: (40.762526, -73.967967)
Station: t3090281 has the coordinates: (40.757107, -73.97192)
Station: t3090279 has the coordinates: (40.746081, -73.982076)
Station: t3090006 has the coordinates: (40.74307, -73.984264)
Station: t3090007 has the coordinates: (40.739864, -73.986599)
Station: t3090278 has the coordinates: (40.730054, -73.99107)
Station: t3091277 has the coordinates: (40.725915, -73.994659)
Station: t3090138 has the coordinates: (40.722301, -73.997141)
Station: t3088260 has the coordinates: (40.707557, -74.011862)
Station: t3088275 has the coordinates: (40.704817, -74.014065)
Station: t3099124 has the coordinates: (40.820421, -73.936245)
Station: t3080125 has the coordinates: (40.814229, -73.94077)
Station: t3080126 has the coordinates: (40.807754, -73.945495)
Station: t3080127 has the coordinates: (40.802098, -73.949625)
Station: t0004000 has the coordinates: (40.76266, -73.967258)
Station: t0008015 has the coordinates: (40.703087, -74.012994)
Station: t0009016 has the coordinates: (40.718315, -73.987437)
Station: t1041122 has the coordinates: (40.836013, -73.939892)
Station: t1043128 has the coordinates: (40.800603, -73.958161)
Station: t1043131 has the coordinates: (40.781433, -73.972143)
Station: t1045133 has the coordinates: (40.768296, -73.981736)
Station: t1047134 has the coordinates: (40.757308, -73.989735)
Station: t1002134 has the coordinates: (40.757308, -73.989735)
Station: t1048135 has the coordinates: (40.752287, -73.993391)
Station: t1049137 has the coordinates: (40.732338, -74.000495)
Station: t1050139 has the coordinates: (40.712582, -74.009781)
Station: t1069231 has the coordinates: (40.759145, -73.95326)
Station: t1069230 has the coordinates: (40.764629, -73.966113)
Station: t1072212 has the coordinates: (40.758663, -73.981329)
Station: t1075214 has the coordinates: (40.725297, -73.996204)
Station: t1009016 has the coordinates: (40.718611, -73.988114)
Station: t1062184 has the coordinates: (40.757552, -73.969055)
Station: t3078271 has the coordinates: (40.874561, -73.909831)
Station: t3078266 has the coordinates: (40.822008, -73.953676)
Station: t3078265 has the coordinates: (40.807722, -73.96411)
Station: t3078264 has the coordinates: (40.77344, -73.982209)
Station: t3087133 has the coordinates: (40.768247, -73.981929)
Station: t3082135 has the coordinates: (40.750373, -73.991057)
Station: t3078246 has the coordinates: (40.733422, -74.002906)
Station: t3078259 has the coordinates: (40.711835, -74.012188)
Station: t3081022 has the coordinates: (40.713051, -74.008811)
Station: t3090282 has the coordinates: (40.768141, -73.96387)
Station: t3093280 has the coordinates: (40.752769, -73.979189)
Station: t3089276 has the coordinates: (40.713065, -74.004131)
Station: t3099293 has the coordinates: (40.82388, -73.93647)
Station: t3080292 has the coordinates: (40.799075, -73.951822)
Station: t3102330 has the coordinates: (40.753821, -73.981963)
Station: t3103351 has the coordinates: (40.755882, -74.00191)
Station: t1017238 has the coordinates: (40.784318, -73.947152)
Station: t1017237 has the coordinates: (40.777891, -73.951787)
Station: t1017236 has the coordinates: (40.768799, -73.958424)

StatisticsError: mean requires at least one data point

In [46]:
dict_loc

{'t0001001': (40.764811, -73.973347),
 't0001002': (40.764664, -73.980658),
 't0001003': (40.759901, -73.984139),
 't0002004': (40.755983, -73.986229),
 't3085004': (40.755983, -73.986229),
 't0003005': (40.749719, -73.987823),
 't1003005': (40.749719, -73.987823),
 't0004006': (40.745494, -73.988691),
 't0004007': (40.741303, -73.989344),
 't0005008': (40.734789, -73.99073),
 't3092008': (40.734673, -73.989951),
 't0004009': (40.730328, -73.992629),
 't0004010': (40.724329, -73.997702),
 't0006011': (40.718803, -74.000193),
 't0004012': (40.713282, -74.006978),
 't0007013': (40.710668, -74.011029),
 't0004014': (40.70722, -74.013342),
 't0010017': (40.72028, -73.993915),
 't0011018': (40.713243, -74.003401),
 't0012019': (40.710368, -74.009509),
 't1012019': (40.710368, -74.009509),
 't1051019': (40.710368, -74.009509),
 't3051019': (40.710368, -74.009509),
 't0010020': (40.706476, -74.011056),
 't0029054': (40.739777, -74.002578),
 't0030069': (40.737335, -73.996786),
 't0031070': (40.732849, -73.986122),
 't0031071': (40.730953, -73.981628),
 't1034116': (40.868072, -73.919899),
 't1034117': (40.865491, -73.927271),
 't1034118': (40.859022, -73.93418),
 't1034119': (40.851695, -73.937969),
 't1034120': (40.847391, -73.939704),
 't1040121': (40.840556, -73.940133),
 't1041123': (40.830518, -73.941514),
 't1042124': (40.824783, -73.944216),
 't1043125': (40.817894, -73.947649),
 't1044126': (40.811109, -73.952343),
 't1043127': (40.805085, -73.954882),
 't1043129': (40.796092, -73.961454),
 't1043130': (40.791642, -73.964696),
 't1043052': (40.785868, -73.968916),
 't1043132': (40.775594, -73.97641),
 't1046061': (40.762456, -73.985984),
 't1046007': (40.745906, -73.998041),
 't1029136': (40.740893, -74.00169),
 't1046138': (40.726227, -74.003739),
 't1048011': (40.720824, -74.005229),
 't1050018': (40.714111, -74.008585),
 't1058123': (40.830135, -73.938209),
 't1069229': (40.763972, -73.97745),
 't1073213': (40.754222, -73.984569),
 't1074007': (40.742878, -73.992821),
 't1030136': (40.737826, -74.000201),
 't3083136': (40.737826, -74.000201),
 't1058075': (40.718267, -73.993753),
 't1069215': (40.723402, -73.989938),
 't1069216': (40.713715, -73.990173),
 't1061183': (40.760167, -73.975224),
 't1060021': (40.762862, -73.981637),
 't3078270': (40.869444, -73.915279),
 't3078269': (40.864621, -73.918822),
 't3078117': (40.860531, -73.925536),
 't3078268': (40.855225, -73.929412),
 't3078119': (40.849505, -73.933596),
 't3078267': (40.834041, -73.94489),
 't3078124': (40.826551, -73.95036),
 't3078126': (40.815581, -73.958372),
 't3078128': (40.803967, -73.966847),
 't3078129': (40.799446, -73.968379),
 't3082130': (40.793919, -73.972323),
 't3078052': (40.788644, -73.976218),
 't3078064': (40.783934, -73.979917),
 't3082132': (40.778453, -73.98197),
 't3078061': (40.761728, -73.983849),
 't3086004': (40.755983, -73.986229),
 't3078006': (40.747215, -73.993365),
 't3078007': (40.744081, -73.995657),
 't3078263': (40.74104, -73.997871),
 't3078262': (40.728251, -74.005367),
 't3078011': (40.722854, -74.006277),
 't3078261': (40.719318, -74.006886),
 't3082018': (40.715478, -74.009266),
 't3078014': (40.707513, -74.013783),
 't3079258': (40.702068, -74.013664),
 't3080260': (40.706821, -74.0091),
 't3095126': (40.804138, -73.937594),
 't3090127': (40.798629, -73.941617),
 't3090283': (40.79502, -73.94425),
 't3090129': (40.7906, -73.947478),
 't3090130': (40.785672, -73.95107),
 't3095052': (40.779492, -73.955589),
 't3090051': (40.77362, -73.959874),
 't0000000': (40.762526, -73.967967),
 't3094000': (40.762526, -73.967967),
 't3090281': (40.757107, -73.97192),
 't3090279': (40.746081, -73.982076),
 't3090006': (40.74307, -73.984264),
 't3090007': (40.739864, -73.986599),
 't3090278': (40.730054, -73.99107),
 't3091277': (40.725915, -73.994659),
 't3090138': (40.722301, -73.997141),
 't3088260': (40.707557, -74.011862),
 't3088275': (40.704817, -74.014065),
 't3099124': (40.820421, -73.936245),
 't3080125': (40.814229, -73.94077),
 't3080126': (40.807754, -73.945495),
 't3080127': (40.802098, -73.949625),
 't0004000': (40.76266, -73.967258),
 't0008015': (40.703087, -74.012994),
 't0009016': (40.718315, -73.987437),
 't1041122': (40.836013, -73.939892),
 't1043128': (40.800603, -73.958161),
 't1043131': (40.781433, -73.972143),
 't1045133': (40.768296, -73.981736),
 't1047134': (40.757308, -73.989735),
 't1002134': (40.757308, -73.989735),
 't1048135': (40.752287, -73.993391),
 't1049137': (40.732338, -74.000495),
 't1050139': (40.712582, -74.009781),
 't1069231': (40.759145, -73.95326),
 't1069230': (40.764629, -73.966113),
 't1072212': (40.758663, -73.981329),
 't1075214': (40.725297, -73.996204),
 't1009016': (40.718611, -73.988114),
 't1062184': (40.757552, -73.969055),
 't3078271': (40.874561, -73.909831),
 't3078266': (40.822008, -73.953676),
 't3078265': (40.807722, -73.96411),
 't3078264': (40.77344, -73.982209),
 't3087133': (40.768247, -73.981929),
 't3082135': (40.750373, -73.991057),
 't3078246': (40.733422, -74.002906),
 't3078259': (40.711835, -74.012188),
 't3081022': (40.713051, -74.008811),
 't3090282': (40.768141, -73.96387),
 't3093280': (40.752769, -73.979189),
 't3089276': (40.713065, -74.004131),
 't3099293': (40.82388, -73.93647),
 't3080292': (40.799075, -73.951822),
 't3102330': (40.753821, -73.981963),
 't3103351': (40.755882, -74.00191),
 't1017238': (40.784318, -73.947152),
 't1017237': (40.777891, -73.951787),
 't1017236': (40.768799, -73.958424)}

In [101]:
df_tt_m = df_tt[df_tt.STATION_IDX.isin(dict_stations)].copy()  # make a copy of a slice of dataframe df_tt

# If df_tt_m is set using the get method below
# df_tt_m = df_tt[df_tt.STATION_IDX.isin(dict_stations)]
# The following changes on df_tt_m would generate warnings to alert about such change may affect the original dataframe
# It is because even pandas does not know df_tt_m is a copy or a view of df_tt
print(f'Turntile data in Manhattan has {df_tt_m.shape[0]} records compared to the total {df_tt.shape[0]} data records')

df_tt_m.head()

Turntile data in Manhattan has 89668 records compared to the total 206046 data records

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,STATION_IDX,SEARCH_ID
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2019,00:00:00,REGULAR,7247322,2455491,t0000000,"59 ST,NQR456W,BMT,t0000000"
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2019,04:00:00,REGULAR,7247336,2455499,t0000000,"59 ST,NQR456W,BMT,t0000000"
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2019,08:00:00,REGULAR,7247351,2455532,t0000000,"59 ST,NQR456W,BMT,t0000000"
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2019,12:00:00,REGULAR,7247463,2455623,t0000000,"59 ST,NQR456W,BMT,t0000000"
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2019,16:00:00,REGULAR,7247755,2455679,t0000000,"59 ST,NQR456W,BMT,t0000000"

In [102]:
#df_tt_m.loc[:,"LOCATION"] = df_tt_m.apply(lambda x: dict_loc[x["STATION_IDX"]], axis=1)

#df_tt_m.loc[:,"LOCATION"] = df_tt_m["STATION_IDX"].apply(lambda x: dict_loc[x])

df_tt_m["LOCATION"] = df_tt_m["STATION_IDX"].map(lambda x: dict_loc[x]) # Add the column saving the location information, i.e., (lat, lng)

In [103]:
df_grouped = df_tt_m.groupby(['UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION'])  # divide rows into groups based on selected columns as an index 

# Use dataframe.diff() to calculate the difference between two consecutive rows regarding a specific column
# The first row has "NaN" values after calculation
df_tt_m['ENTRIES_DIFF']=df_grouped[['ENTRIES']].diff()
df_tt_m['EXITS_DIFF']=df_grouped[['EXITS']].diff()

df_tt_m = df_tt_m[~df_tt_m['ENTRIES_DIFF'].isnull()]  # remove all rows with 'NaN' in the 'ENTRIES_DIFF' column
df_tt_m.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,STATION_IDX,SEARCH_ID,LOCATION,ENTRIES_DIFF,EXITS_DIFF
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2019,04:00:00,REGULAR,7247336,2455499,t0000000,"59 ST,NQR456W,BMT,t0000000","(40.762526, -73.967967)",14.0,8.0
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2019,08:00:00,REGULAR,7247351,2455532,t0000000,"59 ST,NQR456W,BMT,t0000000","(40.762526, -73.967967)",15.0,33.0
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2019,12:00:00,REGULAR,7247463,2455623,t0000000,"59 ST,NQR456W,BMT,t0000000","(40.762526, -73.967967)",112.0,91.0
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2019,16:00:00,REGULAR,7247755,2455679,t0000000,"59 ST,NQR456W,BMT,t0000000","(40.762526, -73.967967)",292.0,56.0
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2019,20:00:00,REGULAR,7248159,2455733,t0000000,"59 ST,NQR456W,BMT,t0000000","(40.762526, -73.967967)",404.0,54.0

In [104]:
# Check the data
df_tt_m.describe()

            ENTRIES         EXITS  ENTRIES_DIFF    EXITS_DIFF
count  8.753300e+04  8.753300e+04  8.753300e+04  8.753300e+04
mean   4.610681e+07  4.070557e+07  2.838348e+03  1.283434e+03
std    2.219798e+08  2.159370e+08  7.957226e+05  3.411573e+05
min    0.000000e+00  0.000000e+00 -3.512054e+06 -4.146082e+06
25%    4.705220e+05  2.722620e+05  1.400000e+01  1.200000e+01
50%    2.651959e+06  1.704511e+06  9.700000e+01  7.700000e+01
75%    7.774998e+06  5.705378e+06  3.010000e+02  2.380000e+02
max    2.129010e+09  2.048818e+09  2.353883e+08  1.008450e+08

It is shown that the difference values may be negative which is largely due to the meter reading errors.

By checking the value in the time series, using a threshold of 5000 can detect the abnormal record.  

Then, it is also necessary to remove all records with negative difference values.

In [109]:
# First, check the difference with very large positive values
df_tt_m[df_tt_m.EXITS_DIFF>6000]

Empty DataFrame
Columns: [C/A, UNIT, SCP, STATION, LINENAME, DIVISION, DATE, TIME, DESC, ENTRIES, EXITS, STATION_IDX, SEARCH_ID, LOCATION, ENTRIES_DIFF, EXITS_DIFF]
Index: []

In [110]:
df_tt_m = df_tt_m[df_tt_m.ENTRIES_DIFF<5000]
df_tt_m = df_tt_m[df_tt_m.EXITS_DIFF<6000]
df_tt_m = df_tt_m[df_tt_m.ENTRIES_DIFF>=0]
df_tt_m = df_tt_m[df_tt_m.EXITS_DIFF>=0]
df_tt_m.describe()

            ENTRIES         EXITS  ENTRIES_DIFF    EXITS_DIFF
count  8.652500e+04  8.652500e+04  86525.000000  86525.000000
mean   3.324924e+07  2.638846e+07    216.719700    186.553042
std    1.770056e+08  1.606036e+08    299.093053    294.503483
min    0.000000e+00  0.000000e+00      0.000000      0.000000
25%    4.596930e+05  2.642130e+05     15.000000     12.000000
50%    2.589164e+06  1.627667e+06    100.000000     78.000000
75%    7.522794e+06  5.388403e+06    304.000000    239.000000
max    2.115976e+09  2.038204e+09   3146.000000   5203.000000

In [111]:
df_tt_m.shape

(86525, 16)

[Back to the top](#top)
<a name="cleaned"></a>  
### Cleaned Data

Now, we've obtained a clean dataframe for the MTA turntile data. It contains 1) per turnstile entries and exits collected every four hours, 2) per station geolocation coordinates.

In [112]:
df_tt_m.head(5)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,STATION_IDX,SEARCH_ID,LOCATION,ENTRIES_DIFF,EXITS_DIFF
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2019,04:00:00,REGULAR,7247336,2455499,t0000000,"59 ST,NQR456W,BMT,t0000000","(40.762526, -73.967967)",14.0,8.0
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2019,08:00:00,REGULAR,7247351,2455532,t0000000,"59 ST,NQR456W,BMT,t0000000","(40.762526, -73.967967)",15.0,33.0
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2019,12:00:00,REGULAR,7247463,2455623,t0000000,"59 ST,NQR456W,BMT,t0000000","(40.762526, -73.967967)",112.0,91.0
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2019,16:00:00,REGULAR,7247755,2455679,t0000000,"59 ST,NQR456W,BMT,t0000000","(40.762526, -73.967967)",292.0,56.0
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2019,20:00:00,REGULAR,7248159,2455733,t0000000,"59 ST,NQR456W,BMT,t0000000","(40.762526, -73.967967)",404.0,54.0

The cleaned data is saved into a csv for future analysis work.

In [113]:
df_tt_m.to_csv("modified_turntile_data.csv")